@import 'https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500&subset=cyrillic';
.nb_block3 .col-lg-1, 
.nb_block3 .col-lg-10, 
.nb_block3 .col-lg-11, 
.nb_block3 .col-lg-12, 
.nb_block3 .col-lg-2, 
.nb_block3 .col-lg-3, 
.nb_block3 .col-lg-4, 
.nb_block3 .col-lg-5, 
.nb_block3 .col-lg-6, 
.nb_block3 .col-lg-7, 
.nb_block3 .col-lg-8, 
.nb_block3 .col-lg-9, 
.nb_block3 .col-md-1, 
.nb_block3 .col-md-10, 
.nb_block3 .col-md-11, 
.nb_block3 .col-md-12, 
.nb_block3 .col-md-2, 
.nb_block3 .col-md-3, 
.nb_block3 .col-md-4, 
.nb_block3 .col-md-5, 
.nb_block3 .col-md-6, 
.nb_block3 .col-md-7, 
.nb_block3 .col-md-8, 
.nb_block3 .col-md-9, 
.nb_block3 .col-sm-1, 
.nb_block3 .col-sm-10, 
.nb_block3 .col-sm-11, 
.nb_block3 .col-sm-12, 
.nb_block3 .col-sm-2, 
.nb_block3 .col-sm-3, 
.nb_block3 .col-sm-4, 
.nb_block3 .col-sm-5, 
.nb_block3 .col-sm-6, 
.nb_block3 .col-sm-7, 
.nb_block3 .col-sm-8, 
.nb_block3 .col-sm-9, 
.nb_block3 .col-xs-1, 
.nb_block3 .col-xs-10, 
.nb_block3 .col-xs-11, 
.nb_block3 .col-xs-12, 
.nb_block3 .col-xs-2, 
.nb_block3 .col-xs-3, 
.nb_block3 .col-xs-4, 
.nb_block3 .col-xs-5, 
.nb_block3 .col-xs-6, 
.nb_block3 .col-xs-7, 
.nb_block3 .col-xs-8, 
.nb_block3 .col-xs-9
{
padding-left:15px;
padding-right:15px;
}

.wr .panel {
  text-align: center;
  background-color:transparent;
}
.panel a {
  display: inline-block;
  padding: 15px 40px;
  border: 1px #acacac solid;
  border-radius: 30px;
  color: #acacac;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
.panel a + a {
  margin-left: 30px;
}
.panel a:hover {
  color: #ffffff;
  border-color: #ffffff;
  text-underline: none;
}
.panel a.pdf {
  background: url('../images/ico-pdf.png') 30px center no-repeat;
  padding-left: 55px;
}

.nb_block3
{
font-family:'Roboto';
color:#010101;
font-size:18px;
/*line-height:100%;*/
overflow:hidden;
}

.nb_block3 p
{
padding:0;
margin:0 0 30px 0;
}

.nb_block3_t
{
position: relative;
background:url('../images/nb_block3_t.png') center center / cover no-repeat;
}

.nb_block3_t .row .wr
{
padding-top: 200px;
padding-bottom: 200px;
}

.nb_block3_t .logo
{
position: absolute;
top: 0;
left: 0;
right: 0;
margin: auto;
text-align: center;
}

.nb_block3_t .title
{
margin-bottom: 50px;
font-size: 43px;
line-height: 56px;
font-weight: bold;
color: #fff;
text-align: center;
}

.nb_block3_t .icon--mouse {
position: absolute;
bottom: 20px;
left: calc(50% - 25px);
width: 50px;
height: 50px;
background: #fff url('../images/ico-mouse.png') center center no-repeat;
border-radius: 50%;
animation-name: mouseBounce;
animation-duration: 3s;
animation-fill-mode: both;
animation-iteration-count: infinite;
}

@keyframes mouseBounce {
  0% {
    transform: translate3d(0, 0, 0);
  }
  30% {
    transform: translate3d(0, 5px, 0);
  }
  50% {
    transform: translate3d(0, 3px, 0);
  }
  70% {
    transform: translate3d(0, 5px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.nb_block3_tt
{
height:460px;
overflow:hidden;
padding-top:70px;
}

.nb_block3_tt .z
{
font-size:28px;
display:inline-block;
padding-top:20px;
font-weight:bold;
text-transform:uppercase;
margin-bottom:50px;
border-top:3px solid #ffb900;
}

.nb_block3_tt a
{
color:#028dcb;
}

.nb_block3_tt img
{
max-width: 150%;
position: relative;
left: -180px;
top: -20px;
z-index:1;
}

.nb_block3_t4
{
margin-top:70px;
}

.nb_block3_t4 img
{
max-width:100%;
width:100%;
}

.nb_block3_t4 .z
{
font-size:28px;
display:inline-block;
padding-top:20px;
font-weight:bold;
text-transform:uppercase;
margin-bottom:50px;
border-top:3px solid #ffb900;
}

.nb_block3_t4 .zz
{
color:#048fcc;
font-size:32px;
margin-bottom:30px;
}

.nb_block3_t4.bg
{
background:#fff;
padding:100px 0;
color:#fff;
}

.nb_block3_t4.bg .zz,
.nb_block3_t4.bg .z
{
color:#fff;
}

.nb_block3_t4.bg.bg1
{
background: url('../images/nb_block3_t4_bg1.png') left 10px no-repeat;
background-size:cover;
}

.nb_block3_t4.bg.bg2
{
background: url('../images/nb_block3_t4_bg2.png') left 10px no-repeat;
background-size:cover;
}

.nb_block3_t4.bg.bg2 strong
{
font-size:32px;
}

.nb_block3_t4.bg.bg1 .col-md-6.left
{
padding-right:0;
}

.nb_block3_t4.bg.bg1 .col-md-6.right
{
padding-left:0;
}

.nb_block3_t4.bg .blue
{
background: rgba( 7, 144, 205, 0.8); 
height:303px;
}

.nb_block3_t4.bg .blue .it
{
padding:38px 30px;
display:table;
width:100%;
box-sizing:border-box;
}

.nb_block3_t4.bg .blue .it strong,
.nb_block3_t4.bg .blue .it span
{
display:table-cell;
vertical-align:top;
text-align:left;
}

.nb_block3_t4.bg .blue .it span
{
padding-top:7px;
}

.nb_block3_t4.bg .blue .it strong
{
font-size:28px;
color:#dbf8ff;
width:50px;
}

.nb_block3_t4.bg .blue .it.it1
{
border-bottom:1px solid #69bee2;
}

.nb_block3_t4 img.sh
{
-webkit-box-shadow: 0px 15px 53px 17px rgba(0,0,0,0.10);
-moz-box-shadow: 0px 15px 53px 17px rgba(0,0,0,0.10);
box-shadow: 0px 15px 53px 17px rgba(0,0,0,0.10);
}


.nb_block3_tw
{
padding:100px 0;
margin-top:90px;
font-size:18px;
background: url('../images/nb_block3_tw.png') top center no-repeat;
background-size:cover;
color:#fff;
text-align:center;
}

.nb_block3_tw .z
{
text-transform:uppercase;
font-size:28px;
display:block;
margin-bottom:40px;
padding-bottom:25px;
background: url('../images/nb_block3_z.png') bottom center no-repeat;
}

.nb_block3_tw .padd
{
background:#018cca;
padding:60px 40px;
text-align:left;
height:170px;
box-sizing:content-box;
position:relative;
}

.nb_block3_tw .padd span
{
position:absolute;
right:30px;
bottom:30px;
z-index:1;
width:32px;
height:32px;
display:block;
background: url('../images/nb_block3_tw_ch.png') 0 0 no-repeat;
}

.nb_block3_tw .b
{
margin-top:50px;
float:left;
width:100%;
}

.nb_block3_tw .b a
{
display:inline-block;
font-size:18px;
font-weight:bold;
text-transform:uppercase;
border:1px solid #fff;
color:#fff;
text-decoration:none;
width:30.7%;
padding-top:15px;
padding-bottom:15px;
-webkit-border-radius: 35px;
-moz-border-radius: 35px;
border-radius: 35px;
transition-duration: .2s;
}

.nb_block3_tw .b a:hover
{
text-decoration:none;
background:#fff;
color:#018cca;
}


.nb_block3 ul
{
list-style:none;
margin:0;
padding:0;
}

.nb_block3 ul li
{
margin:5px 0;
font-size:16px;
padding-left:25px;
background: url('../images/nb_block3ul.png') left 10px no-repeat;
}


.ptop50
{
padding-top:50px;
}

@media  (max-width: 1199px){
.nb_block3_t .title{font-size:37px;}
.nb_block3_tw .padd{height:270px;}
.nb_block3_tt img{top:50px;}
.nb_block3_t4.bg .blue{height:248px;}
.nb_block3_t4.bg .blue .it{padding-top:13px;padding-bottom:13px;}
}

@media  (max-width: 991px){
.nb_block3_t .title{font-size:28px;}
.nb_block3{overflow:hidden;}
.nb_block3_tt{height:760px;}
.nb_block3_tt .col-md-5{text-align:center;}
.nb_block3_t4 img{max-width:100% !important;margin:20px 0;}
.nb_block3_t4 .bg{padding:30px;}
.nb_block3_tw .padd{height:auto;margin:5px 0;}
.nb_block3_tt img{top: 0;left: 0;max-width: 100%;}
.nb_block3_t4.bg.bg1 .col-md-6.right{padding-left:15px;}
.nb_block3_t4.bg.bg1 .col-md-6.left{padding-right:15px;}
.nb_block3_t4.bg .blue{height:auto;}
}

@media  (max-width: 767px){
.nb_block3_t .title br{display:none;}
.nb_block3_tw{padding-top:30px;padding-bottom:30px;}
.nb_block3_tw .b a{width:100%;box-sizing:border-box;}
.nb_block3_t4.bg{padding-top:40px;padding-bottom:40px;}
}

.fl_img1,
/*.fl_img2,*/
/*.fl_img3,*/
/*.fl_img4,*/
/*.fl_img5,*/
.fl_img6,
.fl_img7
{
margin: 0 auto;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
position: relative;
opacity: 0;
-webkit-transform: scale(0);
-moz-transform: scale(0);
-ms-transform: scale(0);
-o-transform: scale(0);
transform: scale(0);
}

.fl_img1.s,
/*.fl_img2.s,*/
/*.fl_img3.s,*/
/*.fl_img4.s,*/
/*.fl_img5.s,*/
.fl_img6.s,
.fl_img7.s
{
opacity: 1;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
/* transform: scale(1); */
}

.fl_img2
{
opacity: 0;
top: 500px;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s; 
position: relative;
}

.fl_img2.s
{
opacity: 1;
top: 0;
}

.fl_img3
{
opacity: 0;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}

.fl_img3.s
{
opacity: 1;
}

.fl_img4
{
opacity: 0;
left: 1500px;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s; 
position: relative;
}

.fl_img4.s
{
opacity: 1;
left: 0;
}

.fl_img5
{
opacity: 0;
right: 1500px;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s; 
position: relative;
}

.fl_img5.s
{
opacity: 1;
right: 0;
}

.nb_block1 .nb_block1_ts{overflow:hidden;}