#geo_confirm p {
	font-size: 13px;
	line-height: 18px;
	margin: 0px 0 5px 0;
}
#geo_confirm .header-city, #geo_confirm span {
	font-size: 13px;
}
#geo_confirm span {
	margin: 0 10px 0 15px;
}
#geo_confirm {
	display: none;
	background: #3C71BB;
	padding: 10px 20px;
	width: 262px;
	z-index: 1000;
	top: 0px;
	position: absolute;
	box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.5);
	left: -20px;
	color:white;

	background: rgb(35,66,108); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(35,66,108,1) 0%, rgba(61,105,158,1) 4%, rgba(65,123,186,1) 8%, rgba(68,127,190,1) 12%, rgba(68,128,192,1) 29%, rgba(68,128,192,1) 46%, rgba(65,122,190,1) 63%, rgba(59,111,186,1) 82%, rgba(51,97,181,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(35,66,108,1)), color-stop(4%,rgba(61,105,158,1)), color-stop(8%,rgba(65,123,186,1)), color-stop(12%,rgba(68,127,190,1)), color-stop(29%,rgba(68,128,192,1)), color-stop(46%,rgba(68,128,192,1)), color-stop(63%,rgba(65,122,190,1)), color-stop(82%,rgba(59,111,186,1)), color-stop(100%,rgba(51,97,181,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(35,66,108,1) 0%,rgba(61,105,158,1) 4%,rgba(65,123,186,1) 8%,rgba(68,127,190,1) 12%,rgba(68,128,192,1) 29%,rgba(68,128,192,1) 46%,rgba(65,122,190,1) 63%,rgba(59,111,186,1) 82%,rgba(51,97,181,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(35,66,108,1) 0%,rgba(61,105,158,1) 4%,rgba(65,123,186,1) 8%,rgba(68,127,190,1) 12%,rgba(68,128,192,1) 29%,rgba(68,128,192,1) 46%,rgba(65,122,190,1) 63%,rgba(59,111,186,1) 82%,rgba(51,97,181,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(35,66,108,1) 0%,rgba(61,105,158,1) 4%,rgba(65,123,186,1) 8%,rgba(68,127,190,1) 12%,rgba(68,128,192,1) 29%,rgba(68,128,192,1) 46%,rgba(65,122,190,1) 63%,rgba(59,111,186,1) 82%,rgba(51,97,181,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(35,66,108,1) 0%,rgba(61,105,158,1) 4%,rgba(65,123,186,1) 8%,rgba(68,127,190,1) 12%,rgba(68,128,192,1) 29%,rgba(68,128,192,1) 46%,rgba(65,122,190,1) 63%,rgba(59,111,186,1) 82%,rgba(51,97,181,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23426c', endColorstr='#3361b5',GradientType=0 ); /* IE6-9 */

}
#geo_confirm b.name {
	font-size: 16px;
}
#geo_confirm b.sel_region {
	border-bottom: 1px dotted #FFF;
}

#geo_confirm .close {right: 9px; top: 6px; opacity:.2;filter:alpha(opacity=20)}
#geo_confirm .close:hover, #geo_confirm .close:active {opacity: .5;filter: alpha(opacity=50);}

#geo_confirm .confirm {text-transform: capitalize;}