.search-result .form-title a {
	font-size: 16px;
}
.search-result .form-title {
	margin: 20px 0 0 0;
	padding: 0;
}

.search-result a {
	text-decoration: underline;
	font-size: 13px;
	font-weight: 500;
}
.search-result ul li {
	margin: 0 0 7px;
	padding: 0;
}
.search-result ul {
	margin: 15px 0;
}
.search-result {
	position: absolute;
	background: #f9f9fc;
	top: 30px;
	margin: 0 0 50px 0;
	z-index: 600;
	width: 400px;
}
#search-wrap {
	position: relative;
	display: inline-block;
	float: left;
}
.search-result ul li:before {
	background-color: transparent;
}
.search-result .empty-result {color: #56575D;padding: 18px 0;margin: 0;}

.title-search-result {
	padding: 0 35px 10px 35px;
	display: none;
	overflow:auto;
	max-height:690px;
}
.title-search-result::-webkit-scrollbar { width: 5px; height: 3px;}
.title-search-result::-webkit-scrollbar-button {  background-color: #f9f9fc; }
.title-search-result::-webkit-scrollbar-track {  background-color: #f9f9fc;}
.title-search-result::-webkit-scrollbar-track-piece { background-color: #f9f9fc;}
.title-search-result::-webkit-scrollbar-thumb { height: 50px; background-color: #d10f8d; border-radius: 3px;}
.title-search-result::-webkit-scrollbar-corner { background-color: #f9f9fc;}
.title-search-result::-webkit-resizer { background-color: #f9f9fc;}

