@import 'https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500&subset=cyrillic';
.nb_block4 .col-lg-1, 
.nb_block4 .col-lg-10, 
.nb_block4 .col-lg-11, 
.nb_block4 .col-lg-12, 
.nb_block4 .col-lg-2, 
.nb_block4 .col-lg-3, 
.nb_block4 .col-lg-4, 
.nb_block4 .col-lg-5, 
.nb_block4 .col-lg-6, 
.nb_block4 .col-lg-7, 
.nb_block4 .col-lg-8, 
.nb_block4 .col-lg-9, 
.nb_block4 .col-md-1, 
.nb_block4 .col-md-10, 
.nb_block4 .col-md-11, 
.nb_block4 .col-md-12, 
.nb_block4 .col-md-2, 
.nb_block4 .col-md-3, 
.nb_block4 .col-md-4, 
.nb_block4 .col-md-5, 
.nb_block4 .col-md-6, 
.nb_block4 .col-md-7, 
.nb_block4 .col-md-8, 
.nb_block4 .col-md-9, 
.nb_block4 .col-sm-1, 
.nb_block4 .col-sm-10, 
.nb_block4 .col-sm-11, 
.nb_block4 .col-sm-12, 
.nb_block4 .col-sm-2, 
.nb_block4 .col-sm-3, 
.nb_block4 .col-sm-4, 
.nb_block4 .col-sm-5, 
.nb_block4 .col-sm-6, 
.nb_block4 .col-sm-7, 
.nb_block4 .col-sm-8, 
.nb_block4 .col-sm-9, 
.nb_block4 .col-xs-1, 
.nb_block4 .col-xs-10, 
.nb_block4 .col-xs-11, 
.nb_block4 .col-xs-12, 
.nb_block4 .col-xs-2, 
.nb_block4 .col-xs-3, 
.nb_block4 .col-xs-4, 
.nb_block4 .col-xs-5, 
.nb_block4 .col-xs-6, 
.nb_block4 .col-xs-7, 
.nb_block4 .col-xs-8, 
.nb_block4 .col-xs-9
{
padding-left:15px;
padding-right:15px;
}

.wr .panel {
  text-align: center;
  background-color:transparent;
}
.panel a {
  display: inline-block;
  padding: 15px 40px;
  border: 1px #acacac solid;
  border-radius: 30px;
  color: #acacac;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
.panel a + a {
  margin-left: 30px;
}
.panel a:hover {
  color: #ffffff;
  border-color: #ffffff;
  text-underline: none;
}
.panel a.pdf {
  background: url('../images/ico-pdf.png') 30px center no-repeat;
  padding-left: 55px;
}

.nb_block4
{
font-family:'Roboto';
color:#010101;
font-size:18px;
/*line-height:100%;*/
overflow:hidden;
}

.nb_block4 p
{
padding:0;
margin:0 0 30px 0;
}

.nb_block4_t
{
position: relative;
background:url('../images/nb_block4_t.png') center center / cover no-repeat;
}

.nb_block4_t .row .wr
{
padding-top: 200px;
padding-bottom: 200px;
}

.nb_block4_t .logo
{
position: absolute;
top: 0;
left: 0;
right: 0;
margin: auto;
text-align: center;
}

.nb_block4_t .title
{
margin-bottom: 50px;
font-size: 43px;
line-height: 56px;
font-weight: bold;
color: #fff;
text-align: center;
}

.nb_block4_t .icon--mouse {
position: absolute;
bottom: 20px;
left: calc(50% - 25px);
width: 50px;
height: 50px;
background: #fff url('../images/ico-mouse.png') center center no-repeat;
border-radius: 50%;
animation-name: mouseBounce;
animation-duration: 3s;
animation-fill-mode: both;
animation-iteration-count: infinite;
}

@keyframes mouseBounce {
  0% {
    transform: translate3d(0, 0, 0);
  }
  30% {
    transform: translate3d(0, 5px, 0);
  }
  50% {
    transform: translate3d(0, 3px, 0);
  }
  70% {
    transform: translate3d(0, 5px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.nb_block4_tt
{
/*height:460px;*/
/*overflow:hidden;*/
margin-top:70px;
}

.nb_block4_tt .z
{
font-size:28px;
display:inline-block;
padding-top:20px;
font-weight:bold;
text-transform:uppercase;
margin-bottom:50px;
border-top:3px solid #342782;
}

.nb_block4_tt a
{
color:#048fcc;
}

.nb_block4_tt img
{
max-width: 100%;
}

.nb_block4_tt img.l50
{
max-width:150%;
width:150%;
position:relative;
z-index:1;
left:-25%;
}

.nb_block4_tt .nit41
{
margin-bottom:60px;
display:table;
width:100%;
}

.nb_block4_tt .nit41 .i,
.nb_block4_tt .nit41 .t
{
display:table-cell;
vertical-align:top;
text-align:left;
font-size:16px;
}

.nb_block4_tt .nit41 .i
{
width:60px;
}

.nb_block4_tt .nit41 .t
{
padding-left:30px;
}

.nb_block4_tt .nit42
{
display:inline-block;
width:45%;
margin:0 3% 10% 0;
vertical-align:top;
text-align:left;
}

.nb_block4_tt .nit42 span
{
display:block;
font-size:16px;
}

.nb_block4_tt .nit42 span.b
{
color:#e74b0e;
font-size:30px;
margin-top:15px;
}

.nb_block4_tt .zz
{
color:#010101;
font-size:28px;
font-weight:bold;
margin-bottom:30px;
text-transform:uppercase;
}

.nb_block4_tt.bg
{
padding-top:100px;
padding-bottom:100px;
color:#fff;
}

.nb_block4_tt.bg .zz
{
color:#fff;
}

.nb_block4_tt.bg.bg1
{
background: url('../images/nb_block4_bg1.png') center center no-repeat;
background-size:cover;
}

.nb_block4_tt .nit43
{
background:#285986;
padding:70px 30px;
height:360px;
}

.nb_block4_tt .nit43 strong
{
color:#749fc8;
font-size:48px;
display:block;
margin-bottom:10px;
}

.nb_block4_tt .nit43 .t
{
font-size:20px;
}

.nb_block4_tt.nit44
{
font-size:16px;
}

.nb_block4_tt.nit44.bor
{
border-bottom:1px solid #ebebeb;
padding-bottom:50px;
}

.nb_block4_tt.nit44 strong,
.nb_block4_tt .color
{
margin-bottom:30px;
display:block;
font-size:26px;
color:#048fcc;
}

.nb_block4_tt.bg.bg3
{

}

.nb_block4_tt.bg.bg3 .b
{
color:#010101;
}

.nb_block4_tt.bg.bg3 .p16
{
font-size:16px;
}

.nb_block4_tt.bg.bg3 .p20
{
font-size:20px;
}

.nb_block4_tt.bg.bg2 .b
{
background: url('../images/nb_block4_bg2.png') center center no-repeat;
background-size:cover;
padding:100px 60px;
}

.nb_block4_tt .mtop50
{
margin-top:50px;
}

.nb_block4_tt.bg.bg3
{
background: url('../images/nb_block4_bg3.png') right top no-repeat;
background-size:50% 100%;
}

.nb_block4_tt.bg.bg4
{
background: url('../images/nb_block4_bg4.png') right top no-repeat;
background-size:cover;
}

.nb_block4_tt.bg.bg3 .paddl
{
padding-left:30px;
}

.nb_block4_tt.bg.bg3 .paddr
{
padding-right:30px;
}

.nb_block4_tt.bg.bg2
{
padding:0;
}

.nb_block4_tt.bg.bg2 .b:after
{
content: '.';
display: block;
height: 0;
clear: both;
visibility: hidden;
}


.nb_block4_tt img.r60
{
position:absolute;
z-index:1;
right:-60px;
}

.nb_block4_tt img.sh
{
-webkit-box-shadow: 0px 15px 53px 17px rgba(0,0,0,0.10);
-moz-box-shadow: 0px 15px 53px 17px rgba(0,0,0,0.10);
box-shadow: 0px 15px 53px 17px rgba(0,0,0,0.10);
}

.nb_block4_tt.bg.bg4 .z
{
text-align:center;
border:0;
color:#fff;
background: url('../images/nb_block4_z.png') center bottom no-repeat;
padding-bottom:30px;
display:block;
}

.nb_block4_tt.bg.bg4 .left,
.nb_block4_tt.bg.bg4 .right
{
height:320px;
overflow:hidden;
position:relative;
}

.nb_block4_tt.bg.bg4 .left
{
padding-right:0;
}

.nb_block4_tt.bg.bg4 .right
{
padding-left:0;
}

.nb_block4_tt.bg.bg4 .left img,
.nb_block4_tt.bg.bg4 .right img
{
position:absolute;
top:0;
left:0;
height:100%;
z-index:1;
max-width:none;
width:auto;
}

.nb_block4_tt.bg.bg4 .left .item,
.nb_block4_tt.bg.bg4 .right .item
{
margin:25px 40px;
padding:10px 0 10px 55px;
background: url('../images/nb_block4_ch.png') left 15px no-repeat;
}

.nb_block4_tt.bg.bg4 .bgb
{
background: rgba( 42, 91, 136, 0.8); 
}

.nb_block4_tt.bg.bg4 .b
{
margin-top:50px;
float:left;
width:100%;
text-align:center;
}

.nb_block4_tt.bg.bg4 .b a
{
display:inline-block;
font-size:18px;
font-weight:bold;
text-transform:uppercase;
border:1px solid #fff;
color:#fff;
text-decoration:none;
width:30.7%;
padding-top:15px;
padding-bottom:15px;
-webkit-border-radius: 35px;
-moz-border-radius: 35px;
border-radius: 35px;
transition-duration: .2s;
}

.nb_block4_tt.bg.bg4 .b a:hover
{
text-decoration:none;
background:#fff;
color:#2a5b88;
}

.nb_block4 ul
{
list-style:none;
margin:0;
padding:0;
}

.nb_block4 ul li
{
margin:5px 0;
font-size:16px;
padding-left:25px;
background: url('../images/nb_block4ul.png') left 10px no-repeat;
}

.nb_block4 .bg ul li
{
background: url('../images/nb_block4ulw.png') left 10px no-repeat;
}


.ptop50
{
padding-top:50px;
}

@media  (max-width: 1199px){
.nb_block4_t .title{font-size:37px;}
.nb_block4_tt .nit42 span.b{font-size:24px;}
.nb_block4_tt .nit43{padding-top:20px;padding-bottom:20px;}
.nb_block4_tt .nit43 .t{font-size:19px;}
.nb_block4_tt.bg.bg4 .left .item, .nb_block4_tt.bg.bg4 .right .item{padding-top:5px;padding-bottom:5px;margin-top:20px;margin-bottom:20px;font-size:16px;background-position:left 7px;}
}

@media  (max-width: 991px){
.nb_block4_t .title{font-size:28px;}
.nb_block4{overflow:hidden;}
.nb_block4_tt img.r60{position: static;max-width: none;width: 100%;margin-top:30px;}
.nb_block4_tt img.l50{max-width: 100%;width: 100%;position:relative;z-index:1;left: 0;}
.nb_block4_tt .nit43{height:auto;margin-bottom:20px;}
.nb_block4_tt img{margin-top:20px;margin-bottom:20px;}
.nb_block4_tt.bg.bg3 .paddl{padding-left:0;}
.nb_block4_tt.bg.bg3 .paddr{padding-right:0;}
.nb_block4_tt.bg.bg3{background-size:cover;}
.nb_block4_tt.bg.bg3 .b{color:#fff;}
.nb_block4_tt.bg.bg4 .left, .nb_block4_tt.bg.bg4 .right{height:auto;}
.nb_block4_tt.bg.bg4 .left img, .nb_block4_tt.bg.bg4 .right img{position:static;height:auto;width:100%;margin:0;}
.nb_block4_tt.bg.bg4 .left{padding-left:0px;}
.nb_block4_tt.bg.bg4 .right{padding-right:0px;}
.nb_block4_tt.bg.bg4 .left .item, .nb_block4_tt.bg.bg4 .right .item{padding-top:10px;padding-bottom:10px;}
.nb_block4_tt{margin-top:30px;}
.nb_block4_tt.nit44.bor{padding-bottom:30px;}
}

@media  (max-width: 767px){
.nb_block4_t .title br{display:none;}
.nb_block4_tt .nit42{width:100%;margin-right:0;margin-bottom:30px;}
.nb_block4_tt .nit42 span.b{margin-top:5px;}
.nb_block4_tt.bg.bg2 .b{padding:30px 15px;}
.nb_block4_tt .mtop50{margin:10px 0 50px 0;}
.nb_block4_tt.bg.bg4 .b a{display:block;width:100%;box-sizing:border-box;}
}

.fl_img1,
/*.fl_img2,*/
/*.fl_img3,*/
/*.fl_img4,*/
/*.fl_img5,*/
.fl_img6,
.fl_img7,
.fl_img8,
.fl_img13
{
margin: 0 auto;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
position: relative;
opacity: 0;
-webkit-transform: scale(0);
-moz-transform: scale(0);
-ms-transform: scale(0);
-o-transform: scale(0);
transform: scale(0);
}

.fl_img1.s,
/*.fl_img2.s,*/
/*.fl_img3.s,*/
/*.fl_img4.s,*/
/*.fl_img5.s,*/
.fl_img6.s,
.fl_img7.s,
.fl_img8.s,
.fl_img13.s
{
opacity: 1;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
/* transform: scale(1); */
}

.fl_img2,
.fl_img9
{
opacity: 0;
top: 500px;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s; 
position: relative;
}

.fl_img2.s,
.fl_img9.s
{
opacity: 1;
top: 0;
}

.fl_img3,
.fl_img10
{
opacity: 0;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}

.fl_img3.s,
.fl_img10.s
{
opacity: 1;
}

.fl_img4,
.fl_img11
{
opacity: 0;
left: 1500px;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s; 
position: relative;
}

.fl_img4.s,
.fl_img11.s
{
opacity: 1;
left: 0;
}

.fl_img5,
.fl_img12
{
opacity: 0;
right: 1500px;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s; 
position: relative;
}

.fl_img5.s,
.fl_img12.s
{
opacity: 1;
right: 0;
}

.nb_block1 .nb_block1_ts{overflow:hidden;}