.popup {
    position: relative;
    top: auto;
    left: auto;
    margin: auto;
}
.text.error:before {top:-19px;}
.text.error:after { top: 3px;}
.text.error:before {
    content: attr(data-content)
}
.j-file-input input{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    cursor: pointer;
}