.super-row div.row-textarea {
    padding-right: 0;
}
.popup-boss{width:1000px;}
@media (max-width: 1000px) {
    .popup-boss {
        width: 700px;
    }
}
@media (max-width: 767px) {
    .popup-boss {
        width: 100%;
    }
}