.contacts-box {}
.contacts-box .sidebar-box {width: 184px; float: left;}
.contacts-box .content-box {width: auto; margin-left: 204px;}
.contacts-box .content-box .content-box-float {float: left; width: 100%;}
#contacts-map-top{width: 924px; height: 500px; padding-bottom: 17px; position: relative;}
.col-r-contact #contacts-map-top{width: 600px; height: 610px; padding-bottom: 0;}

/*extra-small - small*/
@media (max-width: 767px){
    .city{display: inline-block;}
    .city:after{right: -15px;}
    #contact-map{position: relative; width: inherit; padding-top: 15px;}
    .map-content{width: inherit; position: relative;}
    .map-hidden{margin-bottom: -310px;}
    .map-content #contacts-map-top{width: inherit; height: 280px; position: relative;}
    .content-region .col-r-contact #contacts-map-top{width: 100% !important; height: 280px;}
    ol.contact-list li .contact-item{padding-left: 25px; display: block;}
    ol.contact-list li::before{position: absolute;}
    .content-region ol.contact-list li{padding: 7px 18px 9px;}
    .content-region ol.contact-list li .contact-item{padding-left: 0px; display: block;}
    .contact-office-schedule{left: 0; top: 15px !important; position: relative !important;}
    .contact-office-schedule .div-one{display: inline-block;}
    .contact-switch{float: none;}
    .clearfix .left{float: none;}
    .clearfix .right{float: none;}
    .col-l-contact{width: 100%;}
    .col-r-contact{width: 100%;}
    .contact-list .contact-transport{width: 100% !important; padding: 15px 18px 0; margin: 0 -18px !important;}
    .content-region .col-l-contact ol.contact-list{background: none;}
    .road-print{display: none;}
    .fancybox-close{right: -15px; top: -30px;}
    ol.contact-list li{padding: 10px 18px; margin: 0 -36px;}
}

@media (min-width: 768px) and (max-width: 999px){
    ol.contact-list li .contact-item:last-child{max-width: 200px;}
    #contact-map{position: relative; width: inherit; padding-top: 15px;}
    .map-content{width: inherit; position: relative;}
    .map-hidden{margin-bottom: -310px;}
    .map-content #contacts-map-top{width: inherit; height: 280px; position: relative;}
    .contact-list .contact-transport{width: 100% !important;}
    .content-region .col-l-contact ol.contact-list{background: none;}
    .content-region .col-r-contact{width: 360px;}
}