@import 'https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500&subset=cyrillic';
.nb_block1 .col-lg-1, 
.nb_block1 .col-lg-10, 
.nb_block1 .col-lg-11, 
.nb_block1 .col-lg-12, 
.nb_block1 .col-lg-2, 
.nb_block1 .col-lg-3, 
.nb_block1 .col-lg-4, 
.nb_block1 .col-lg-5, 
.nb_block1 .col-lg-6, 
.nb_block1 .col-lg-7, 
.nb_block1 .col-lg-8, 
.nb_block1 .col-lg-9, 
.nb_block1 .col-md-1, 
.nb_block1 .col-md-10, 
.nb_block1 .col-md-11, 
.nb_block1 .col-md-12, 
.nb_block1 .col-md-2, 
.nb_block1 .col-md-3, 
.nb_block1 .col-md-4, 
.nb_block1 .col-md-5, 
.nb_block1 .col-md-6, 
.nb_block1 .col-md-7, 
.nb_block1 .col-md-8, 
.nb_block1 .col-md-9, 
.nb_block1 .col-sm-1, 
.nb_block1 .col-sm-10, 
.nb_block1 .col-sm-11, 
.nb_block1 .col-sm-12, 
.nb_block1 .col-sm-2, 
.nb_block1 .col-sm-3, 
.nb_block1 .col-sm-4, 
.nb_block1 .col-sm-5, 
.nb_block1 .col-sm-6, 
.nb_block1 .col-sm-7, 
.nb_block1 .col-sm-8, 
.nb_block1 .col-sm-9, 
.nb_block1 .col-xs-1, 
.nb_block1 .col-xs-10, 
.nb_block1 .col-xs-11, 
.nb_block1 .col-xs-12, 
.nb_block1 .col-xs-2, 
.nb_block1 .col-xs-3, 
.nb_block1 .col-xs-4, 
.nb_block1 .col-xs-5, 
.nb_block1 .col-xs-6, 
.nb_block1 .col-xs-7, 
.nb_block1 .col-xs-8, 
.nb_block1 .col-xs-9
{
padding-left:15px;
padding-right:15px;
}

.wr .panel {
  text-align: center;
  background-color:transparent;
}
.panel a {
  display: inline-block;
  padding: 15px 40px;
  border: 1px #acacac solid;
  border-radius: 30px;
  color: #acacac;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
.panel a + a {
  margin-left: 30px;
}
.panel a:hover {
  color: #ffffff;
  border-color: #ffffff;
  text-underline: none;
}
.panel a.pdf {
  background: url('../images/ico-pdf.png') 30px center no-repeat;
  padding-left: 55px;
}

.nb_block1
{
font-family:'Roboto';
color:#010101;
font-size:18px;
/*line-height:100%;*/
}

.nb_block1 p
{
padding:0;
margin:0 0 30px 0;
}

.nb_block1_t
{
position: relative;
background:url('../images/nb_block1_t.png') center center / cover no-repeat;
}

.nb_block1_t .row .wr
{
padding-top: 200px;
padding-bottom: 200px;
}

.nb_block1_t .logo
{
position: absolute;
top: 0;
left: 0;
right: 0;
margin: auto;
text-align: center;
}

.nb_block1_t .title
{
margin-bottom: 50px;
font-size: 43px;
line-height: 56px;
font-weight: bold;
color: #fff;
text-align: center;
}

.nb_block1_t .icon--mouse {
position: absolute;
bottom: 20px;
left: calc(50% - 25px);
width: 50px;
height: 50px;
background: #fff url('../images/ico-mouse.png') center center no-repeat;
border-radius: 50%;
animation-name: mouseBounce;
animation-duration: 3s;
animation-fill-mode: both;
animation-iteration-count: infinite;
}

@keyframes mouseBounce {
  0% {
    transform: translate3d(0, 0, 0);
  }
  30% {
    transform: translate3d(0, 5px, 0);
  }
  50% {
    transform: translate3d(0, 3px, 0);
  }
  70% {
    transform: translate3d(0, 5px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.nb_block1_ta
{
padding-top:70px;
}

.nb_block1_ta .left
{
padding-left:5%;
}

.nb_block1_ta .col-md-3:nth-child(1)
{
padding-left:0;
}

.nb_block1_ta .left,
.nb_block1_ta .right
{
display:inline-block;
vertical-align:top;
text-align:left;
width:17%;
}

.nb_block1_ta .right
{
width:75%;
font-size:16px;
}

.nb_block1_ta .right strong
{
font-size:20px;
display:block;
margin-bottom:15px;
}

.nb_block1_ta .col-md-3
{
min-height:70px;
border-right:1px solid #e9e9e9;
}

.nb_block1_ta .col-md-3:nth-child(4)
{
border:0;
}

.nb_block1_tb
{
padding-top:120px;
}

.nb_block1_tb strong
{
font-size:22px;
display:block;
margin-bottom:25px;
padding-bottom:25px;
background: url('../images/nb_block1_z.png') bottom left no-repeat;
}

.nb_block1_tb .b
{
padding-bottom:10px;
font-size:20px;
text-transform:uppercase;
background: url('../images/nb_block1_tb.png') bottom right no-repeat;
}

.nb_block1_tb .b span
{
display:block;
font-size:60px;
}

.nb_block1_tc
{
padding-top:70px;
color:#fff;
}

.nb_block1_tc .bg.bg1
{
background: url('../images/nb_block1_tc1.png') bottom right no-repeat;
}

.nb_block1_tc .bg.bg2
{
background: url('../images/nb_block1_tc2.png') bottom right no-repeat;
}

.nb_block1_tc .bg.bg3
{
background: url('../images/nb_block1_tc3.png') bottom right no-repeat;
}

.nb_block1_tc .bg.bg4
{
background: url('../images/nb_block1_tc4.png') bottom right no-repeat;
}

.nb_block1_tc .bg
{
padding:100px 70px;
box-sizing:border-box;
height:290px;
background-size:100% 100%;
margin:1px;
}

.nb_block1_tc .container
{
padding-left:30px;
padding-right:30px;
}

.nb_block1_tc .col-md-6
{
padding-left:0;
padding-right:0;
}

.nb_block1_tc .z
{
font-size:22px;
font-weight:bold;
margin-bottom:20px;
}

.nb_block1_tc .a,
.nb_block1_tc .a a
{
color:#fff;
font-size:20px;
}

.nb_block1_tc .a a
{
text-decoration:underline;
}

.nb_block1_tc .a a:hover
{
text-decoration:none;
}

.nb_block1_td
{
padding-top:90px;
font-size:20px;
}

.nb_block1_td img
{
max-width:100%;
}

.nb_block1_td strong
{
display:block;
margin-bottom:20px;
font-size:22px;
}

.nb_block1_ti
{
padding:100px 0;
margin-top:90px;
font-size:20px;
background:#2b3c54;
}

.nb_block1_ti .wr
{
background:#fff;
padding:100px 70px;
}

.nb_block1_ti .wr:after
{
content: '.';
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.nb_block1_ti .wr .o
{
margin-bottom:40px;
}

.nb_block1_ti .wr img
{
max-width:100%;
}

.nb_block1_ti .wr .col-md-11 strong
{
display:block;
margin-top:0px;
}

.nb_block1_ti .wr .col-md-11 .t
{
font-size:18px;
color:#949494;
}

.nb_block1_tf
{
padding-top:90px;
}

.nb_block1_tf .z
{
font-size:28px;
display:inline-block;
padding-top:20px;
font-weight:bold;
text-transform:uppercase;
margin-bottom:50px;
border-top:3px solid #009ade;
}

.nb_block1_tg
{
margin-top:90px;
padding:100px 20px 100px 20px;
background: url('../images/nb_block1_tg.png') bottom right no-repeat;
background-size:cover;
text-align:center;
font-size:20px;
color:#fff;
}

.nb_block1_tg .z
{
text-transform:uppercase;
font-size:28px;
display:block;
margin-bottom:80px;
padding-bottom:25px;
background: url('../images/nb_block1_z.png') bottom center no-repeat;
}

.nb_block1_tg .i
{
height:80px;
}

.nb_block1_th
{
margin-top:80px;
}

.nb_block1_th img.l
{
float:left;
margin-right:20px;
margin-bottom:20px;
margin-top:20px;
width:20%;
}

.nb_block1_th img.l img
{
max-width:100%;
}

.nb_block1_th img.r
{
float:right;
margin-left:20px;
margin-bottom:20px;
margin-top:20px;
}

.nb_block1_th .z
{
font-size:28px;
display:inline-block;
padding-top:20px;
font-weight:bold;
text-transform:uppercase;
margin-bottom:50px;
border-top:3px solid #009ade;
}

.nb_block1_th .c
{
float:left;
width:100%;
height:150px;
}

.nb_block1_th .c:after
{
content: '.';
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.nb_block1_th p.p20:before
{
content: '.';
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.nb_block1_th p.p20
{
font-size:20px;
width:78%;
float:right;
margin-top:5%;
}

.nb_block1_ts
{
font-size:20px;
margin-top:90px;
}

.nb_block1_ts img
{
max-width:100%;
}

.nb_block1_ts.bg
{
color:#fff;
padding:100px 0;
font-size:20px;
background:#2b3c54;
}

.nb_block1_ts.bg.npad
{
padding:0;
overflow:hidden;
}

.nb_block1_ts.bg.npad .pad
{
padding:100px 0;
}

.nb_block1_ts.bg.npad img
{
max-height:100%;
max-width:none;
}

.nb_block1_ts.bg7
{
padding:100px 0;
background: url('../images/nb_block1_ts6.png') right bottom no-repeat;
/*background-size:auto 70%;*/
}

.nb_block1_tw
{
padding:100px 0;
margin-top:90px;
font-size:18px;
background:#2b3c54;
color:#fff;
text-align:center;
}

.nb_block1_tw .z
{
text-transform:uppercase;
font-size:28px;
display:block;
margin-bottom:40px;
padding-bottom:25px;
background: url('../images/nb_block1_z.png') bottom center no-repeat;
}

.nb_block1_tw .padd
{
background:#7b8da8;
padding:60px 40px;
text-align:left;
height:170px;
box-sizing:content-box;
position:relative;
}

.nb_block1_tw .padd span
{
position:absolute;
right:30px;
bottom:30px;
z-index:1;
width:32px;
height:32px;
display:block;
background: url('../images/nb_block1_tw_ch.png') 0 0 no-repeat;
}

.nb_block1_tw .b
{
margin-top:50px;
float:left;
width:100%;
}

.nb_block1_tw .b a
{
display:inline-block;
font-size:18px;
font-weight:bold;
text-transform:uppercase;
border:1px solid #fff;
color:#fff;
text-decoration:none;
width:30.7%;
padding-top:15px;
padding-bottom:15px;
-webkit-border-radius: 35px;
-moz-border-radius: 35px;
border-radius: 35px;
transition-duration: .2s;
}

.nb_block1_tw .b a:hover
{
text-decoration:none;
background:#fff;
color:#2b3c54;
}


.nb_block1 ul
{
list-style:none;
margin:0;
padding:0;
}

.nb_block1 ul li
{
margin:3px 0;
font-size:18px;
padding-left:25px;
background: url('../images/nb_block1ul.png') left 10px no-repeat;
}



@media  (max-width: 1199px){
.nb_block1_t .title{font-size:37px;}
.nb_block1_th p.p20{width:77%;}
.nb_block1_ts.bg7{background-size:auto 70%;}
.nb_block1_ts.bg.npad img{max-width:100%;max-height:none;padding-top:100px;}
.nb_block1_ta .col-md-3{min-height:130px;}
.nb_block1_tw .padd{height:270px;}
}

@media  (max-width: 991px){
.nb_block1_ts img{margin:20px 0;width:100%;}
.nb_block1_t .title{font-size:28px;}
.nb_block1_ta .col-md-3{padding-left:0;}
.nb_block1_ta .col-md-3{min-height:auto;margin-bottom:20px;}
.nb_block1_tb .b{margin-top:30px;background-position:140px bottom;}
.nb_block1_tc .bg{background-size:100% !important;}
.nb_block1_tg .t{margin-bottom:35px;}
.nb_block1_tg .i{height:auto;margin-bottom:5px;}
.nb_block1_th img.r{width:50%;}
.nb_block1_ts.bg.npad img{padding-top:0;}
.nb_block1_ts.bg.npad .pad{padding-bottom:0px;}
.nb_block1_ts.bg.npad{padding-bottom:100px;}
.nb_block1_tw .padd{height:auto;margin:5px 0;}
.nb_block1_ts.bg7{background-size: auto 40%;padding-bottom: 220px;}
.nb_block1{overflow:hidden;}
}

@media  (max-width: 767px){
.nb_block1_ts.bg7{background:none;padding-bottom:0;}
.nb_block1_tg,.nb_block1_tb{padding-top:50px;}
.nb_block1_ts.bg7{padding-top:0;}
.nb_block1_tw,.nb_block1_ts.bg.npad .pad,.nb_block1_ts.bg{padding-top:30px;padding-bottom:30px;}
.nb_block1_ts.bg.npad{padding-bottom:30px;}
.nb_block1_tc .bg{background-size:cover !important;padding:30px;height:auto;}
.nb_block1_ti .wr{padding:30px;}
.nb_block1_th img.r{width:100%;margin-left:0;}
.nb_block1_th img.l{width:100%;margin-right:0;}
.nb_block1_th .c{height:30px;}
.nb_block1_th p.p20{width:100%;}
.nb_block1_tw .b a{width:100%;box-sizing:border-box;}
.nb_block1_t .title br{display:none;}
}


.fl_img,
.nb_block1_tg .i img,
.nb_block1_th img.r,
.nb_block1_th img.l,
/*.fl_img1,*/
/*.fl_img2,*/
/*.fl_img3,*/
/*.fl_img4,*/
.fl_img5
{
margin: 0 auto;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
position: relative;
opacity: 0;
-webkit-transform: scale(0);
-moz-transform: scale(0);
-ms-transform: scale(0);
-o-transform: scale(0);
transform: scale(0);
}

.fl_img.s,
.nb_block1_tg .i img.s,
.nb_block1_th img.r.s,
.nb_block1_th img.l.s,
/*.fl_img1.s,*/
/*.fl_img2.s,*/
/*.fl_img3.s,*/
/*.fl_img4.s,*/
.fl_img5.s
{
opacity: 1;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
/* transform: scale(1); */
}

.fl_img1
{
opacity: 0;
top: 500px;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s; 
position: relative;
}

.fl_img1.s
{
opacity: 1;
top: 0;
}

.fl_img2
{
opacity: 0;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}

.fl_img2.s
{
opacity: 1;
}

.fl_img3
{
opacity: 0;
left: 1500px;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s; 
position: relative;
}

.fl_img3.s
{
opacity: 1;
left: 0;
}

.fl_img4
{
opacity: 0;
right: 1500px;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s; 
position: relative;
}

.fl_img4.s
{
opacity: 1;
right: 0;
}

.nb_block1 .nb_block1_ts{overflow:hidden;}