.prices_bitrix24 .single-edition {
	margin-bottom: 30px;
}

.prices_bitrix24 .single-edition .edition-content span.title {
	font-size: 18px;
}

@media (max-width: 1199px) and (min-width: 992px) {
	.prices_bitrix24 .single-edition .edition-content {
		padding: 20px;
		word-break: break-word;
	}
}

@media (max-width: 767px) {
	.prices_bitrix24 .single-edition {
		height: auto;
		padding-bottom: 30px;
		margin-bottom: 25px;
	}

	.prices_bitrix24 .single-edition .edition-content span.title {
		font-size: 24px;
	}

}