td.text.error .cusel {
	border: 1px solid #F02E2E;
}

td.text.error:after {
	top: 25px;
}
td.text.error:before {
	top: 0;
}
@media (max-width: 767px) {
	.ftbl tr td{width:100%;display:block;box-sizing:border-box;}
	.ftbl tr td:first-child{padding:10px 15px 3px !important;}
	.ftbl tr td:last-child{padding:3px 15px 10px !important;}
}
@media (max-width: 480px) {
	.ftbl .text input[type='file']{width:240px;text-overflow:ellipsis;}
}