.breadcrumbs .bx-breadcrumb-item {
	display: inline-block;
	white-space: nowrap;
	line-height: 13px;
	vertical-align: middle;
}

.breadcrumbs .bx-breadcrumb-item span {
	font-size: 13px;
	white-space: normal;
}

.breadcrumbs .bx-breadcrumb-item a {
	border-bottom: none;
}
