.center.clients.prod .big_title {
text-align:left;
}
.client_list.prod li {
	padding:0 0;
    border-bottom: 1px solid #959494;
     border-left: 1px solid #959494;
     border-right: 1px solid #959494;
     border-top: 1px solid #959494;
margin-bottom:15px;
cursor:pointer;
position:relatvie;
z-index:200;
}
.client_list.prod li .fr{
    float: left;
    margin-left: 20px;
}
.client_list.prod .client_list_text {
width:455px;
}


.client_list.prod .client_list_img {
    width: 250px;
    height: 180px;
    display: block;
}
.client_list.prod  .pr-right {
    width:260px;
    float:left;
    margin-left:20px;
    list-style-type: none;
    color: #233283;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.client_list.prod .pr-right button {
position:relativie;
z-index:300;
width:235px;
margin-top:30px;
}
.pr-right img {
padding-top:10px;
float:left;
}

.pr-right span {
float:left;
display:block;
padding-top:10px;
padding-left:10px;
}
.pr-right .pr-buy span {
padding-left:13px;
padding-top:13px;
}
.pr-buy {
margin-bottom:20px;
}
.clear {
clear:both;
}
.pr-rent {
margin-bottom:20px;
}
.pr-rent img {
width:45px;
}
.wiki-left {
width:300px;
float:left;
margin-right:20px;
}
.wiki-right {
width:688px;
float:left;
}
.catalog-section-list.new ul {
padding-left:0;
}
.catalog-section-list.new li {
list-style:none;
}
.catalog-section-list.new li a {
font-size: 16px;
color: #30348e;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
text-decoration: none;
display:block;
margin-bottom:10px;
}
.catalog-section-list.new li a:hover, .catalog-section-list.new li a.act  {
color:#d00d8d;
}
.catalog-section-list.new li ul {
padding-left:20px;
}
.catalog-section-list.new li ul li a {
font-size:14px;
color: black;
}
.wiki-items a {
text-decoration: none;
display:block;
font-size: 14px;
color: #30348e;
font-family: 'Open Sans', sans-serif;
margin-bottom:10px;
font-weight:bold;

}
.wiki-items a:hover {
color:#d00d8d;
}
.wiki-items .wiki-item {
border-bottom:1px dashed #959494;
padding-bottom:10px;
margin-bottom:20px;
text-decoration: none;
}

.catalog-section-list.new {
padding-top:33px;
}
.redact a {
padding:7px 20px;
margin-bottom:20px;
font-weight:bold;
font-size: 14px;
color: #fff;
font-family: 'Open Sans', sans-serif;
margin-bottom:10px;
font-weight:bold;
background:green;
text-decoration: none;
text-transform:uppercase;
float:right;
}
.redact a:hover, .redact a.act  {
background:#d00d8d;
}

.wiki-right h1 span {
color: #30348e;
font-family: 'Open Sans', sans-serif;
}
.center.clients.prod {
padding-bottom:15px;
}
.client_list.prod .client_list_text {
    height: auto;
}

.privacy-policy-block{
	margin-top: 15px;
	line-height: 12px;
	font-size: 12px;
	text-align: center;
}