.form_inline{
    background: #181b2a;
    padding:60px 0;
}
.convention_text_inline p{
    color:#fff;
    padding:30px 0;
}
.form_inline input{
    height: 45px;
    margin: 0 0 15px 0;
}
.form_inline button{
    width:100%;
    height:47px;
    padding:0;
}
.form_inline button:hover{
    background: #4f77de;
}
.form_inline h2, .form_inline h4{
    color:#fff !important;
    text-align:center !important;
}
.form_inline h2{
    text-transform: uppercase;
}
.form_inline h4{
    text-transform: inherit !important;
    padding: 15px 0;
    font-size:20px !important;
    letter-spacing: 0px !important;
}
.convention_text_inline a{
    color:#fff;
    text-decoration: underline;
}
.convention_text_inline a:hover{
    text-decoration: underline !important;
    color:#87a9fe;
}
