.contact-print {position: absolute;	top: 42px;	right: 20px; font: 17px/1.5em Arial, Helvetica, sans-serif;}
.road-print {position: absolute; bottom: -45px; right: 0;}
@media print { img {display: block !important;}}