.a_text {
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
}
.pagination>li.active:first-child>a {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
div.redact {text-align:right;}
.wiki-items .wiki-item {	margin-top: 45px;}
.j-deffered {display:none;}


/*header*/
header{
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 1000;
}
#wrap{
    padding-top: 170px;
}
@media (max-width: 767px) {
    header{
        position: static;
    }
    #wrap{
        padding-top: 0;
    }
}

/*blog flex cols*/
.row.row-equal-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.row.row-equal-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
}