body{
	font-family: Open Sans;
}

h2{
	font-size: 38px;
	font-weight: 600;
	line-height: 1.3em;
}

img{
	max-width: 100%;
	height: auto;
}

button:not(.new-pages, .transparent-btn) {
	box-shadow: 0 12px 25px 0 rgba(190, 18, 128, 0.2);
	color: white;
	font-size: 13px;
	padding: 17px 38px;
	text-transform: uppercase;
	background-color: #be1280;
	border: none;
	border-radius: 5px; 

	-webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

button:not(.new-pages, .transparent-btn):hover{
	background-color: rgb(209, 89, 166);
}

a:hover{
	text-decoration: none!important;
}

.page404{
	padding: 25px 117px 25px;
}
.margin_bottom_10{
	margin-bottom: 10px;
	display: inline-block;
}

.transparent-btn{
	text-transform: uppercase;
  	font-size: 14px;
	font-weight: 600;
	color: #406bdb;
	border: solid 2px #406bdb;
	border-radius: 5px;
	background: none;
	box-shadow: none;
}

.transparent-btn:hover{
	background: none;
	/*box-shadow: 0 20px 40px 0 rgba(69, 112, 223, 0.19);*/
	box-shadow: 0 0px 10px 0 rgba(64, 107, 219, 1);
}

.blue-font{
	color: #406bdb !important;
}

.blue-grey-bg{
	background-color: #e0e8fe;
}

@media(min-width: 768px){
	.super-row{
		margin-left: -15px;
		margin-right: -15px;
	}


}

@media(max-width: 768px){
	.super-row{
		margin-left: -15px;
		margin-right: -15px;
	}

	.margin-0-xs{
		margin: 0 !important;
	}
}

.trigger_version_editions{
	display: inline-block;
	margin-top: 20px;
}

.trigger_version_editions .single_version{
	width: 200px;
 	font-size: 14px;
  	font-weight: 600;
  	text-align: center;
  	color: rgba(64, 107, 219, 0.5);
	float: left;
	border: solid 2px rgba(64, 107, 219, 0.1);
	padding-top: 9px;
	cursor: pointer;
	height: 40px;
}
.trigger_version_editions .single_version.active{
	color: #406bdb;
  	border-radius: 3px;
  	background-color: rgba(64, 107, 219, 0.2);
  	border-color: transparent;
}

.date_view_count_info{
	font-size: 13px;
  	font-weight: 600;
  	display: block;
  	text-transform: uppercase;
}

article .date_view_count_info{
	margin-top: 30px;
}

.date_view_count_info span{
	margin-right: 20px;
	color: #262328;
	float: left;
}

.dark_article .date_view_count_info span{
	color: rgba(255, 255, 255, .8);
}

.date_view_count_info span i,
.date_view_count_info span img{
	color: #406bdb;
	margin-right: 7px;
}

.date_view_count_info span img.ico-date,
.date_view_count_info span img.ico-eye{
	width: 17px;
}
input.error{
	border: 1px solid red !important;
}

span.error_msg{
	color: red;
	font-weight: bold;
}

@media (max-width: 768px) {
	h1{
		word-break: break-word;
	}
}

.table-wrap{
	max-width: 100%;
	overflow-x: auto;
}