.cases_header{
	background-image: url( ../img/bg_intro_left_2.png), url(../img/cases/cases-bg.png);
	background-position: -23px -168px, 50%;
	background-repeat: no-repeat, no-repeat;
	background-size: auto, cover;
	background-color: #0f1526;
	width: 100%;
	height: 430px;
	padding-top: 70px;
}

.cases_header h1, .case_header h1{
	color: white;
	font-size: 40px;
	line-height: 1.33;
    display: inline-block;
}

.case_header h1{
	/*max-width: 70%;*/
}

.first_column_cases{
	margin-top: -140px;
}

.second_column_cases{
	margin-top: -280px;
}

.single_case{
  	border-radius: 5px;
  	background-color: rgb(255, 255, 255);
  	box-shadow: 0 20px 40px 0 rgba(69, 112, 223, 0.19);
  	padding: 40px;
  	margin-bottom: 40px;
}

.single_case img{
	float: right;
}

.single_case span.title{
	font-size: 28px;
    font-weight: bold;
    color: rgb(38, 35, 40);
    margin-top: 30px;
    display: inline-block;
}

.single_case p{
	margin-top: 15px;
	margin-bottom: 40px;
    font-size: 15px;
    line-height: 1.67;
    color: rgba(38, 35, 40, .65);
}

@media (max-width: 767px){
	.single_case{
		padding: 30px;
	}

	.single_case span.title{
		font-size: 18px;
	}

	.single_case p{
		font-size: 13px;
	}

	.single_case img{
		float: none;
		max-width: 100%;
		margin: 0 auto;
	    display: block;
	}

	.second_column_cases{
		margin-top: 0;
	}

	.cases_header h1, .case_header h1{
		font-size: 32px;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.single_case span.title {
    	font-size: 24px;
	}

	.cases_header{
		padding-top: 50px;
	}

	.cases_header h1, .case_header h1{
		font-size: 34px;
	}
}

.bg_3_figure{
	background: url(../img/products/bg-image_2.svg) -267px 50% no-repeat,
	            url(../img/bg-shape.svg) 100% 60px no-repeat, 
	            url(../img/bg-shape.svg) 100% 95% no-repeat;
}


.case_header{
	width: 100%;
	/*background-image: url(../img/cases/header-heiniken.png), url(../img/bg-shape-grey.svg);*/
	    background: url(/local/templates/main2017/assets/css/../img/bg_intro_left.png) 0 -75px no-repeat, url(/local/templates/main2017/assets/css/../img/bg_intro_left.png) 100% 95px no-repeat, url(/local/templates/main2017/assets/css/../img/bg_intro_2x.png) center no-repeat;
	/*background-position: 50%, 100% 60px;*/
	/*background-repeat: no-repeat, no-repeat;*/
	/*background-size: cover, auto; */
	background-color: #0e1624;
	height: 375px;
	padding-top: 60px;
}

.case_header.about-case-header{
	/*background: url(/local/templates/main2017/assets/css/../img/bg_intro_left.png) 0 -75px no-repeat, url(/local/templates/main2017/assets/css/../img/bg_intro_left.png) 100% 95px no-repeat, url(/local/templates/main2017/assets/css/../img/header-about-crm.png) center no-repeat;*/
}

.round-logo{
	border-radius: 50%;
	box-shadow: 0 20px 40px 0 rgba(69, 112, 223, 0.19);
}

.about-case{
	font-size: 18px;
	margin-top: 75px;
	line-height: 1.5;
}

.about-case p{
	margin-bottom: 15px;
}

.about-case ul{
    padding-left: 25px;
}

.about-case li{
    padding-left: 10px;
    margin-bottom: 10px;
}

.info_about_project{
	border-radius: 3px;
	border: solid 4px rgb(64, 107, 219);
	padding: 60px;
	margin-top: 65px;
	background-color: white;
}

.info_about_project h2,
.results_block h2{
	font-size: 28px;
    font-weight: bold;
    margin-top: 0;
}

.about-case h3{
	margin-top: 65px;
    font-weight: 600;
    margin-bottom: 15px;
    display: inline-block;
}

.info_about_project .single_item{
	margin: 40px 0 0;
}

.info_about_project span{
	display: block;
}

.grey-title{
	font-size: 14px;
	text-transform: uppercase;
	color: rgba(38, 35, 40, .35);
	margin-bottom: 10px; 
}

.main-thesis{
  	border-left: solid 2px rgba(231, 231, 231, .5);
  	text-align: center;
}

.main-thesis .single_item{
	margin: 0 0 55px;
}

.blue-big-font{
	font-size: 23px;
	color: rgb(64, 107, 219);
	font-weight: bold;
}

.results_block{
	border-radius: 5px;
	box-shadow: 0 20px 40px 0 rgba(69, 112, 223, 0.19);
	padding: 60px;
	position: relative;
	background-color: white;
	margin-top: 35px;
	background-image: url(../img/Flag.svg);
	background-position: calc(100% - 30px) 30px;
	background-repeat: no-repeat;
	margin-left: 15px;
	margin-right: 15px; 
}


.results_block .single-result,
.single_collection_feature{
	padding-left: 40px;
	position: relative;
	margin-bottom: 20px;
	font-size: 18px;
	margin-top: 35px;
}

.results_block .single-result:before,
.single_collection_feature:before{
	content: url(../img/icons/ico-result.png);
	left: 0;
	top: 4px;
	position: absolute;
}

.client_mention{
	background-color: rgb(216, 230, 255);
	padding-top: 124px;
	padding-bottom: 100px;
	margin-top: -60px;
}

.client_mention blockquote{
    border-left: none;
    padding: 0;
    line-height: 1.7;
}

.client_mention blockquote:before{
    content: "\00AB";
    margin-right: 15px;
    font-size: 90px;
    display: block;
    float: left;
    height: 100px;
    margin-top: -81px;
    font-weight: 600;
    color: rgba(64, 107, 219, .25);
    padding-bottom: 30px;
}

.client_mention .client_name{
	display: block;
	font-weight: bold;
	font-size: 16px;
	margin-top: 35px;
	margin-bottom: 7px;
}

.client_mention .client_position{
	font-style: italic;
	font-size: 16px;
	color: rgb(32, 50, 96);
	font-weight: 300;
}

@media (max-width: 767px){
	.main-thesis{
		border: none;
		text-align: left;
	}

	.about-case{
		font-size: 14px;
		margin-top: 35px;
	}

	.info_about_project .single_item{
		margin-top: 20px; 
	}

	.about-case h3{
		margin-top: 35px;
	}

	.info_about_project{
		margin-top: 35px;
		padding: 30px 15px;
	}

	.main-thesis .single_item{
		margin: 20px 0 0;
	}

	.results_block{
	    padding: 30px;
	}

	.blue-big-font{
		font-size: 18px;
	}

	.results_block .single-result, .single_collection_feature{
		font-size: 14px;
	}

	.client_mention blockquote{
		font-size: 14px;
	}

	.client_mention img{
		display: block;
		margin: 0 auto 20px;
	}
}

.main-functions-wrap{}

.single-main-function{
	height: 125px;
	padding: 30px 40px;
	font-size: 16px;
    font-weight: bold;
    box-shadow: 0 40px 50px 0 rgba(216, 230, 255, 0.2);
    margin-top: 30px;
}

.single_reason{margin-top: 30px;}

.single_reason .reason_title{
	padding-left: 30px;
	position: relative;
	font-size: 18px;
}

.single_reason .reason_title:before{
	content: url(../img/icons/ico-reason.png);
	left: 0;
	top: 0;
	position: absolute;
}

.single_reason p{
	font-size: 15px;
    line-height: 1.67;
    color: rgba(38, 35, 40, .65);
}

.case_header p{
	color: rgba(255, 255, 255, .65);
	font-size: 16px;
	line-height: 1.63;
}
.cases_button {
	box-shadow: 0 12px 25px 0 rgba(190, 18, 128, 0.2);
	color: white;
	font-size: 13px;
	padding: 17px 38px;
	text-transform: uppercase;
	background-color: #be1280;
	border: none;
	border-radius: 5px;

	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
.cases_button:hover{
	background-color: rgb(209, 89, 166);
	color: #fff;
}


@media (max-width: 	991px){
	.case_header{
		padding-top: 25px;	
	}

	.case_header p{
		font-size: 14px;
		line-height: 1.3;
	}

	.single-main-function{
	    padding: 20px;
	    font-size: 16px;
	}
}