.editions_bitrix_24_wrap{
    margin-bottom: 220px;
}

.compare_bitrix_editions{
	min-width: 700px;
	overflow-x: auto;
}

.compare_bitrix_editions::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	-webkit-transform: translateX(10px);
	transform: translateX(10px);
}
.compare_bitrix_editions::-webkit-scrollbar-track {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.2);
}
.compare_bitrix_editions::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.4);
}

.compare_bitrix_editions table{
	width: 100%;
	border: solid 1px #eeeeee;
}

.compare_bitrix_editions tbody tr{
	height: 75px;
}

.compare_bitrix_editions tbody tr:nth-child(even){
	background-color: #f6f8fa;
}

.compare_bitrix_editions tbody td{
	padding-left: 25px;
	text-align: center;
	/*padding-top: 30px;*/
	vertical-align: middle;
}

.compare_bitrix_editions[data-version="cloud"] tbody td{
	width: 20%;
}

.compare_bitrix_editions[data-version="box"] .column_1,
.compare_bitrix_editions[data-version="cloud"] .column_1{
	text-align: left;
	width: 16%;
	/*padding-top: 30px;*/
}

.compare_bitrix_editions[data-version="box"] .column_2{
	/*width: 17%;*/
}

.compare_bitrix_editions[data-version="box"] table.hidden-xs .column_3{
	width: 52%;
}


.compare_bitrix_editions .column_1,
.compare_bitrix_editions .column_2,
.compare_bitrix_editions .column_3,
.compare_bitrix_editions[data-version="cloud"] .column_4{
	border-right: solid 1px #eeeeee;
}

.compare_bitrix_editions .column_1{
	padding-right: 10px;
}



.compare_bitrix_editions span{
	font-size: 14px;
	font-weight: 600;
	line-height: 1.
	color: #262328;
}

.compare_bitrix_editions span.chapter_title_grey{
	font-size: 13px;
    font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.6px;
	color: #bbbbbb;
}

.compare_bitrix_editions span.status_included{
	color: #04c072;
}

.compare_bitrix_editions span.status_disabled{
	color: #dddddd;
}

.compare_bitrix_editions span.status_infinite{
	color: #406bdb;
	font-size: 24px;
}

.section_title_wrap{
	margin-bottom: 30px;
}

.section_title_wrap h2{
	float: left;
}

.section_title_wrap .trigger_version_editions{
	float: right;
}

.tablesaw-all-cols-visible{
	display: none;
}

.try_offer_block{
	text-align: center;
	margin: 0 auto;
}

.try_offer_block span{display: block;}

.try_offer_block span.price{
	font-size: 16px;
    font-weight: bold;
}

.try_offer_block span.limit{
	font-size: 13px;
	font-style: italic;
	opacity: 0.65;
    margin-top: 10px;
    margin-bottom: 25px;
}

.try_offer_block button{
	font-size: 12px;
    font-weight: 600;
    color: #be1280;
    border-radius: 5px;
    border: solid 2px rgba(190, 18, 128, 0.05);
    background-color: white;
    box-shadow: none;
    padding: 8px 12px;
}

.edition_title span{
	font-size: 18px;
	display: block;
	margin: 50px auto 15px;
	text-align: center;
    max-width: 90%;
}

.try_offers_block_wrap{
	display: inline-block;
}

.try_offers_block_wrap .try_offer_block{
	float: left;
	margin-left: 15px;
	margin-right: 12px;
}

.tablesaw-swipe th.column_1.tablesaw-swipe-cellhidden, .tablesaw-swipe td.column_1.tablesaw-swipe-cellhidden{
	display: table-cell!important;
}

@media (max-width: 767px){
	.compare_bitrix_editions .column_1 span{
		font-size: 12px;
	}

	.edition_title span{
		font-size: 14px;
	}

	.section_title_wrap h2{
		margin-left: 15px;
	}

	.section_title_wrap .trigger_version_editions{
		float: left;
		margin-left: 15px;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.section_title_wrap .trigger_version_editions{
		float: left;
		margin-left: 15px;
	}

	.edition_title span {
    	font-size: 16px;
	}
}

@media (min-width: 992px) and (max-width: 1199px){
	.section_title_wrap .trigger_version_editions{
		float: left;
		margin-left: 15px;
	}

	.try_offers_block_wrap .try_offer_block{
		margin-left: 3px;
		margin-right: 3px; 
	}

	.try_offer_block span.limit{
		font-size: 12px;
	}

	.edition_title span{
		font-size: 16px;
	}

	.section_title_wrap h2{
		font-size: 33px;
	}
}
