.contracts_wrap{}

.contacts_trigger{
    float: right;
    margin-top: 20px;
}

.contacts_trigger button,
.show_on_map_btn{
	border: 1px solid rgba(216, 230, 255, .35);
}

.show_on_map_btn{
	cursor: pointer;
}

.contacts_trigger_btn{
    float: left;
    box-shadow: none;
    font-size: 15px;
    text-transform: none;
    padding: 9px 18px;
    border-radius: 3px;
    width: 194px;
    height: 41px;
}

.contacts_trigger_btn.active,
.contacts-city-choice.open>button,
.contacts-city-choice>button:hover,
.contacts-city-choice>button:focus{
    background-color: rgba(216, 230, 255, .45) !important;
    box-shadow: none !important;
    border-color: transparent !important; 
}

.contacts_trigger_btn button.dropdown-toggle{

}

.contacts-city-choice ul.dropdown-menu{
	padding-top: 20px;
	box-shadow: 0 10px 40px 0 rgba(69, 112, 223, 0.19);
	width: 100%;
}

.contacts-city-choice ul.dropdown-menu li{
	margin-bottom: 20px; 
}

.contacts-city-choice ul.dropdown-menu li.selected a{
	color: rgba(38, 35, 40, .35) ;
}

.contacts-city-choice ul.dropdown-menu li a:hover{
	background: none;
}

.contacts-city-choice ul.dropdown-menu li:not(.selected) a:hover{
	color: #406bdb;
}

.contacts_trigger_btn img{
	margin-right: 7px;
}

#contacts_map{
	width: 100%;
	height: 500px;
}

.contacts_region{
    margin-top: 25px;
    margin-bottom: 25px;
}

.contacts_region_title span{
	font-weight: 600;
	font-size: 22px;
	margin-top: 25px;
	display: inline-block;
}

.contacts_table{

}

.contacts_table .contacts_row{
	padding-bottom: 25px;
	padding-top: 25px;
    border-bottom: solid 2px rgba(216, 230, 255, .2);
}

.contacts_table .contacts_field_title{
  	font-size: 16px;
  	font-weight: 600;
}

.custom_marker{
  width: 17px;
  height: 17px;
  background-color: #406bdb;
  box-shadow: 0 4px 10px 0 #a7a5a9;
  border: solid 2px #ffffff;
}

.markers_info{
    width: 300px;
    margin: 20px 0px 10px 10px;
}

.markers_info td{
	padding-bottom: 12px;
	vertical-align: top;
}

.markers_info i{
	color: #bbc7e9;
	font-size: 18px;
	margin-right: 10px;
}

.markers_info span{
	font-weight: 600;
	font-size: 13px;
}

@media( max-width: 991px ){
	.contacts_trigger{
		float: left;
	}
}


@media( max-width: 768px ){
	#contacts_map{
		height: 300px;
	}

	.contacts_trigger{
		margin-left: 15px;
	}

	.contacts_region{
		margin-left: 0;
		margin-right: 0;
	}

	button.contacts_trigger_btn{
	    text-align: left;
    	padding-left: 17px;
	}
}


@media(min-width: 992px){
	
	.section_title_wrap{
		display: inline-block;
		width: 100%;
	}

	.section_title_wrap h2{
		display: inline-block;
	}

	.section_title_wrap .contacts_trigger{
		margin-top: 30px; 
	}
}
