html, body{
	height: 100%;
}

#wrap{
	min-height: 100%;
}

/*** header ***/

header .top_level{
  	height: 46px;
  	background-color: #262328;
}

header .top_level .city-choice{
	color: white;
	border-radius: 0;
	opacity: 0.8;
	background-color: #406bdb;
	font-size: 13px;
	box-shadow: none;
	border: none;
	height: 46px;
	text-transform: none;
	margin:0px;
	padding: 10px 16px;
	line-height: 26px;
}

header .top_level .city-choice span, .wrap_mobile_menu .city-choice_mobile span{
	margin-left: 67px;
	font-weight: 100;
	font-size: 12px;
}

header .top_level .dropdown-menu{
	width: 100%;
}

header .top_level .dropdown-menu li a{
	color: black;
}

header .top_level .send-mention{
	font-size: 13px;
	margin-top: 12px;
	opacity: 0.65;
	color: white;
	margin-left: 40px;
	cursor: pointer;
}

header .top_level .send-mention span{
    margin-right: 10px;
}

header .top_level .send-mention i{
    font-size: 18px;
    margin-left: 5px;
}

header .top_level a{
	font-size: 13px;
	margin-top: 12px;
	display: block;
	opacity: 0.65;
	color: white;
}

header .middle_level{
	height: 74px;
	border-bottom: solid 1px #f3f3f3;
}

header .middle_level a.logo-links{
	margin-top: 25px;
}

.image-row{
  display: block;
  text-align: center;
}

.image-row__image{
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.image-row-active.middle_level{
  height: auto;
}

header .middle_level.image-row-active a.logo-links {
  margin-top: 15px;
  margin-bottom: 15px;
}

header .middle_level.image-row-active .contacts-block {
  margin-top: 8px;
}

header .middle_level .contacts-block{
	margin-top: 10px;
}

header .middle_level .contacts-block a.tel{
	font-size: 17px;
	font-weight: 600;
	color: #262328;
}

header a.more-filials{
	font-size: 13px !important;
	color: #406bdb !important;
	border-bottom: 1px dotted #406bdb;
	margin: 0 40px 0 10px;
	font-weight: 600;
}
header .middle_level .contacts-block button{
	padding: 8px 16px;
}

header .middle_level i{
	top: 0;
	border-radius: 50%;
	background-color: #ffffff;
	color: #be1280;
	padding: 8px;
	font-size: 12px;
	margin-right: 7px;
}

header .bottom_level{
	height: 62px;
	position: relative;
}


header .bottom_level .main-menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
	flex-wrap: nowrap;
	height: 62px;
	text-align: justify;
	text-align-last: justify;
}

header .bottom_level .main-menu li{
	text-align: justify;
	display: inline-block;
	text-align: left;
}


header .bottom_level .main-menu a{
	padding: 20px 15px;
	font-size: 15px;
	letter-spacing: -0px;
	color: #262328;
}

header .bottom_level .main-menu a:hover,
header .bottom_level .main-menu a.active{
	background-color: #D20F8C;
    color: white;
}

.dropdown-services-list,
.dropdown-products-list{
	display: none;
	position: absolute;
	/*height: 62px;*/
	z-index: 1;
    /*box-shadow: 0 3px 3px #ccc;*/
    background-color: white;
    padding: 10px 0 22px;

    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    top: 62px;
}

.dropdown-products-list {
    left: 141px;
}

.dropdown-services-list {
    left: 308px;
}

.dropdown-services-list a,
.dropdown-products-list a{
	color: rgb(51, 51, 51);
	display: block;

	margin-top: 12px;
	width: 100%;
    padding: 3px 65px 0 15px;
	opacity: 0.65;
	font-size: 14px;
}

.dropdown-services-list a:hover,
.dropdown-products-list a:hover{
	background-color: #f5f5f5;
}

.wrap_main-menu{
	position: relative;
}

.dropdown-services-list.active,
.dropdown-products-list.active{
	display: block;
/*	justify-content: space-between;
	align-items: center;
	align-content: space-between;
	flex-wrap: nowrap;*/
}

header .bottom_level .main-menu .products-link:hover{
	display: block;
}

.mobile_menu_services,
.mobile_menu_products{
	display: none;
	padding-left: 15px;
}

.wrap_mobile_menu .mobile_menu .main-menu_mobile .mobile_menu_services a,
.wrap_mobile_menu .mobile_menu .main-menu_mobile .mobile_menu_products a{
	font-size: 13px;
	margin: 10px 0;
}

.mobile_menu_services.active,
.mobile_menu_products.active{
	display: block;
}
.slider-main {position:relative;overflow:hidden;width:auto; height:250px;}
.flexslider {}
.flexslider ul.slides {width: 1400%; padding: 0; margin: 0; background: none; list-style: none;}
.flexslider ul.slides > li {float: left; display:block; width: 1140px; padding: 0; margin: 0; background: none; list-style: none;border-bottom: 1px solid #CCC;position: relative;}
.flex-viewport {overflow: hidden; position: relative;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease 0s;
}
.flexslider ul.slides > li a img {width:100%; height:auto; display: block; max-width: 1140px; max-height: 250px;}
.flex-control-nav {padding: 0; margin: 21px 0 0; list-style: none; font: 0/0 a; position: absolute; top: 197px; /*left: 7px;*/ height: 17px;}
	.flex-control-nav li {padding: 0; margin: 0; list-style: none; display: inline-block; background: none;}
	.ie6 .flex-control-nav li, .ie7 .flex-control-nav li {display: inline; zoom: 1;}
	.flex-control-nav a {display: block; width: 17px; height: 17px; background: url(../img/slider_nav.png) no-repeat 0px -16px; margin:-1px -4px 0 10px; cursor: pointer; text-decoration: none; text-indent: -2000em; overflow: hidden; border-radius: 50%;}
	.flex-control-nav a.flex-active {background-position: 0px 0px;}

.flex-direction-nav, .flex-direction-nav li {padding: 0; margin: 0; list-style: none; font: 0/0 a; background: none;}
	.flex-direction-nav a {width: 30px; height: 30px; position: absolute; top: 50%; margin-top: -25px; text-decoration: none; text-indent: -2000em; overflow: hidden; background: url("../img/main-sprite.png") no-repeat;}
	.flex-direction-nav a.flex-disabled {display: none;}
	.flex-direction-nav .flex-prev {left: 0; background-position: -233px -163px;}
	.flex-direction-nav .flex-next {right: 0; background-position: -260px -163px;}
	.flex-direction-nav .flex-prev:hover {background-position: -233px -193px;}
	.flex-direction-nav .flex-next:hover {background-position: -260px -193px;}
	.flex-direction-nav .flex-prev:active {}
	.flex-direction-nav .flex-next:active {}
.flex-control-nav {top: auto; bottom: 4px;}
@media (max-width: 991px){
	.slider-main {height:200px;}

}
@media (max-width: 600px){
	.slider-main {height:125px;}

}
/*** /header ***/
.breadcrumbs{
	margin: 15px 0 15px 15px;
}

.breadcrumbs:not(.promo__breadcrumbs) a{
	font-size: 13px;
	font-weight: 600;
	font-style: normal;
	color: rgba(38, 35, 40, 0.5);
}


/*** footer ***/

footer{
	/*margin-top: -299px;*/
	height: 299px;
  	background-color: #0f1526;
  	color: white;
  	padding-top: 45px;
}

footer ul {
	list-style-type: none;
	line-height: 2.21;
}

footer .copyright{
	display: block;
	margin-top: 20px;
	font-size: 13px;
	opacity: 0.65;
}

footer ul li a{
	font-size: 14px;
	font-weight: 600;
}

footer ul li a.sub_menu{
	font-size: 14px;
    font-weight: normal;
    opacity: 0.8;
    line-height: 1.51;
    margin: 7px 0;
    display: inline-block;
}

footer a{
	color: white;
}

footer a.tel{
	font-size: 18px;
    font-weight: 600;
    display: block;
}

.soc-nets-wrap i{
	font-size: 23px;
	margin: 0 10px;
}

.fancybox-opened{z-index: 3030;}
.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 3010;
	background: url(../img/shadow.png);
}
.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}
.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

@media (min-width: 1200px){
	.tel-socnets-wrap{ margin-top: 35px; }

	.tel-socnets-wrap .tel{ display: inline-block; }
}

@media (min-width: 768px) and (max-width: 1199px){
	.tel-socnets-wrap{ margin-top: 25px;}

	.tel-socnets-wrap .tel{ float: right; margin-bottom: 20px;}

}

/*** /footer ***/

#modal_change_city .modal-content{
	padding: 40px;
}

#modal_change_city .region_name{
	display: block;
    margin-top: 10px;
    font-weight: bold;
}

#modal_change_city .j-new-choose{ display: block; margin: 10px 0;}
