h1.title{
	font-size: 42px;
	font-weight: 600;
	line-height: 1.3em;
}
/*** intro ***/

section.intro{
	padding-bottom: 94px;
	background: url( ../img/bg_intro_left.png) 0 190px no-repeat,       url(../img/bg_intro_right.png) 100% -180px no-repeat,       url(../img/bg_intro_2x.png) center no-repeat;
}


section.intro h1{
	margin-top: 94px;
	color: white;
	font-size: 38px;
	font-weight: 600;
	line-height: 1.3em;
}
section.intro h2{
	margin-top: 94px;
	color: white;
}

section.intro p{
	color: rgba(255, 255, 255, 0.65);
	max-width: 700px;
	font-size: 16px;
	margin: 20px auto 42px;
}

/*** /intro ***/

/*** why_crm_need ***/

section.why_crm_need{
	height: 484px;
	padding-top: 74px;
	background: url( ../img/bg_intro_left.svg) 0 -245px no-repeat,       url(../img/bg_intro_left.svg) 107% 210px no-repeat;
	background-color: white;
}

section.why_crm_need .single-reason{
	height: 175px;
	padding-top: 5px;
	text-align: center;
}

section.why_crm_need .single-reason img{
	margin: 0 auto;
	display: block;
	margin-bottom: 25px;
}

section.why_crm_need .single-reason:nth-child(1) img,
section.why_crm_need .single-reason:nth-child(2) img,
section.why_crm_need .single-reason:nth-child(3) img{
	width: 40px;
	height: 41px;
}

section.why_crm_need .single-reason span{
	font-size: 15px;
}

/*** /why_crm_need ***/

/*** slider ***/

.mainpage-slider-wrap{
	height: 550px;
	background-image: url(../img/bg_slider_2x.png);
	background-size: cover;
	background-position: center;
}

.mainpage-slider-wrap h2{
	color: white;
	padding-top: 65px;
	padding-bottom: 50px;
	display: inline-block;
}

.mainpage-slider-wrap .slider{
	box-shadow: 0 20px 40px 0 rgba(69, 112, 223, 0.19);
	height: 540px;
	width: 100%;
    background-color: white;
}

.mainpage-slider-wrap .wrap-slider-nav{
	display: inline-block;
	margin-top: 85px;
}

.mainpage-slider-wrap .wrap-slider-nav .wrap-dots{
	display: inline-block;
	float: left;
	margin: 0 15px;
}

.mainpage-slider-wrap .wrap-slider-nav .wrap-dots .slick-dots{
	position: static;
}

.mainpage-slider-wrap .wrap-slider-nav .wrap-dots .slick-dots li{
    margin: 11px 11px;
    width: 11px;
    height: 11px;
}

.mainpage-slider-wrap .wrap-slider-nav .wrap-dots .slick-dots li button{
	box-shadow: none;

	width: 10px;
  	height: 10px;
  	border: solid 1px rgba(255, 255, 255, 0.5);
}

.mainpage-slider-wrap .wrap-slider-nav .wrap-dots .slick-dots li.slick-active button{
	background-color: white;
}

.mainpage-slider-wrap .wrap-slider-nav .wrap-dots .slick-dots li button:before{
	display: none;
}

.mainpage-slider-wrap .wrap-slider-nav .slider-arrow{
	width: 35px;
	height: 35px;
	float: left;
	cursor: pointer;
}

.mainpage-slider-wrap .wrap-slider-nav .prev-slider-arrow{
	background-image: url(../img/icons/prev-slide.png)
}

.mainpage-slider-wrap .wrap-slider-nav .next-slider-arrow{
	background-image: url(../img/icons/next-slide.png)
}

.mainpage-slider-wrap .slider .single-slide{}

.mainpage-slider-wrap .slider .single-slide button{
	display: block;
}

.mainpage-slider-wrap .slider .single-slide a.title{
	color: rgb(51, 51, 51);
	font-size: 29px;
}

.mainpage-slider-wrap .slider .single-slide a.title:hover,
.events_articles .single-article .title:hover,
.feedback_form .convention_text a:hover{
	text-decoration: underline !important;
}

.mainpage-slider-wrap .slider .single-slide p{
	font-size: 15px;
	line-height: 1.44;
}

.mainpage-slider-wrap .slider .single-slide a.more{
	color: #406bdb;
	text-transform: uppercase;
	border-bottom: 1px dotted #406bdb;
	display: inline-block;
	margin-bottom: 50px;
	margin-top: 12px;
	font-size: 14px;
}

.mainpage-slider-wrap .slider .single-slide a.more:hover{
	border-color: transparent !important;
}

.mainpage-slider-wrap .slider .single-slide .wrap-slider-desc{
	padding: 78px 0px 78px 100px;
}

.mainpage-slider-wrap .slider .single-slide .wrap-slider-img{
	padding-top: 68px;
	padding-right: 0;
	padding-bottom: 0;
}


/*** /slider ***/


/*** launching ***/

.launching{
	padding-top: 271px;
	background: url(../img/bg_type_works.svg) 33% 480px  no-repeat;
	margin-bottom: -200px;
	padding-bottom: 200px;
}

.launching h2{
	
margin-bottom: 70px;
}

.launching span.h2{
	margin-bottom: 70px;
	font-size: 38px;
	font-weight: 600;
	line-height: 1.3em;
	display: block;
}

.launching .single_type_work {
	height: 288px;
	position: relative;
	background-repeat: no-repeat;
	background-position: 85% 200px;
	padding: 40px;
	box-shadow: 0 40px 50px 0 rgba(216, 230, 255, 0.2);
	margin: 15px 0;
	background-color: white;
	background-size: 60px 60px;
}

.launching .single_type_work:hover{
	background-color: #406bdb;
}

.launching .single_type_work .title{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
	display: block;
	line-height: 1.17;
	color: rgb(51, 51, 51); 
}

.launching .single_type_work p{
	font-size: 15px;
	opacity: 0.65;
	color: rgb(51, 51, 51); 
}

.launching .single_type_work:hover .title,
.launching .single_type_work:hover p{
	color: white;
}

.launching .single_type_work span.more{
	position: absolute;
	color: #406bdb;
	font-size: 14px;
	bottom: 40px;
	left: 40px;
	text-transform: uppercase;
	border-bottom: 1px dotted #406bdb;
}

.launching .single_type_work:hover span.more, .launching .single_type_work a.more:hover{
	color: white;
	border-bottom: 1px dotted white;
}

/*** /launching ***/



/*** many_projects ***/
	.many_projects{
		padding-top: 95px;
		padding-bottom: 120px;
	}

	.many_projects h2{
		margin-bottom: 70px; 
	}

	.many_projects .single-project-sphere{
		text-align: center;
	}

	.many_projects .single-project-sphere img{
		margin: 0 auto;
	}

	.many_projects .single-project-sphere span{
	    font-family: Open Sans;
	    font-size: 14px;
	    font-weight: bold;
	    display: block;
	    margin-top: 14px;
	}
	.single-project-sphere .img-project-wrap {
		min-height: 80px;
	}

/*** /many_projects ***/



/*** clients_choice ***/
	
	.clients_choice{
		background-color: #f6f9ff;
		padding-top: 58px;
		padding-bottom: 68px;
	}

	.clients_choice .single-reason{
		text-align: center;
		height: 180px;
		padding-top: 25px;
	}

	.clients_choice .single-reason .number{
		  /*font-family: GillSans;*/
		  font-size: 31px;
		  font-weight: bold;
		  color: #406bdb;
		  display: block;
		  margin-bottom: 15px;
	}

	.clients_choice .single-reason .desc{
		font-size: 15px;
	}

/*** /clients_choice ***/



/*** clients ***/

	.clients{
		padding-top: 50px;
		padding-bottom: 65px; 
	}

	.clients .wrap-clients{
		margin-bottom: 50px;
		margin-top: 45px; 
	}

	.clients .single-client{
		height: 140px;
		border-radius: 8px;
		position: relative;
		text-align: center;
	}

	.clients .single-client .hover-layer{
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
		background-color: #203260;
		opacity: 0.8;
		color: white;
		font-size: 20px;
		line-height: 1.2;
		height: 140px;
		padding: 30px;
		border-radius: 8px;
	}

	.clients .single-client:hover .hover-layer{
		display: block;
	}

	.clients .single-client .hover-layer p{}

	.clients .single-client img{
    margin-top: 26px;
}

/*** /clients ***/



/*** free_consulatation ***/
	
	section.free_consulatation{
		padding-top: 82px;
	    padding-bottom: 72px;
	    background-color: #406bdb;
	    text-align: center;
	    background: #406bdb url(../img/bg_free_cons_left.png) 20px 75px no-repeat;
	}

	section.free_consulatation h3{
		font-size: 29px;
		font-weight: 600;
		color: white;
		line-height: 1.5em;
	}

	section.free_consulatation span.action-text{
		opacity: 0.65;
		font-family: Verdana;
		font-size: 17px;
		color: white;
		display: inline-block;
		margin: 13px 0 30px;
	}
	

/*** /free_consulatation ***/



/*** events_articles ***/

	.events_articles{
		padding-top: 62px;
		/*padding-bottom: 195px;*/
	}

	.events_articles h4, .main-feedback-form h4{
	    font-size: 15px;
	    font-weight: 600;
	    letter-spacing: 1.4px;
	    text-align: left;
	    color: #b5b5b5;
	    text-transform: uppercase;
	    margin-bottom: 28px;
	}

	.events_articles .single-article{
		padding: 30px;
		border-radius: 8px;
		box-shadow: 0 40px 50px 0 rgba(216, 230, 255, 0.2);
  		border: solid 1px #f6f6f6;
  		position: relative;
  		height: 495px;
	}

	.events_articles .wrap-articles article{
		margin-bottom: 0;
	}

	.single-event{
		border-radius: 8px;
		box-shadow: 0 40px 50px 0 rgba(216, 230, 255, 0.2);
  		border: solid 1px #f6f6f6;
  		position: relative;
  		height: 495px;
  		background-image: url(../img/event.png);
  		color: white;
  		padding: 30px;
  		background-size: cover;
	}
	.single-event a.title, .single-event a.title:hover, .single-event a.title:focus{color:#fff;}
	.single-event a.title:hover, .single-event a.title:focus{text-decoration: underline;}

	.single-event .ico-date{ margin-right: 7px; }

	.single-event .ico-maker{}

	a.single-event:hover{
		color: white;
	}

	a.single-event:hover .title{
		text-decoration: underline;
	}

	.single-event p{
	    font-size: 15px;
	    line-height: 1.00;
	    margin: 0;
        margin-bottom: 10px;
	}

	.single-event i{
		border: 1px solid white;
		padding: 2px 4px;
		font-size: 13px;
		border-radius: 2px;
		margin-right: 7px;
		margin-top: 12px;
	}

	.single-event .wrap-article-desc{
		margin-top: 190px; 
	}

	.single-article .wrap-article-img{
		position: relative;
	}

	.single-article img{
		width: 100%;
	}

	.single-article .wrap-article-img .tags_wrap{
		position: absolute;
		top: 17px;
		left: 12px;
	}

	.events_articles .transparent-btn{
		margin-top: 30px;
	}

	.single-article .wrap-article-img .tags_wrap span{
		margin-right: 10px;
		border-radius: 5px;
  		background-color: rgba(38, 35, 40, 0.65);
  		color: white;
  		font-size: 14px;
  		padding: 7px;
	}

	.single-article .title,
	.single-event .title{
		margin-top: 13px;
		font-size: 20px;
		font-weight: 600;
		line-height: 1.2em;
		display: inline-block;
		margin-bottom: 12px;
		width: 100%;
	}
	.single-article .title{
		color: rgb(51, 51, 51);
	}

	.single-event .title{
		margin-bottom: 15px;
	}

	.single-event button{
		margin-top: 20px;
	}

	.single-article p{
		opacity: 0.65;
		font-size: 15px;
		line-height: 1.22;
		letter-spacing: -0px;
	}

	.single-article .more,
	.single-event .more{
		position: absolute;
		left: 30px;
		bottom: 40px;

		font-size: 14px;
	    font-weight: 600;
	    letter-spacing: -0px;
	    color: #406bdb;
	    border-bottom: 1px dashed;
	    text-transform: uppercase;
	}

	.single-article a.more:hover{
		border-color: transparent;
	}

/*** events_articles ***/


/*** feedback_form ***/

	.feedback_form{
		background: url(../img/bg_feedback_form.jpg);
		height: 550px;
	}

	.feedback_form h2{
		margin-bottom: 25px;
	}
	.feedback_form span.h2{
		margin-bottom: 25px;
		font-size: 38px;
		font-weight: 600;
		line-height: 1.3em;
		display: block;
	}

	.feedback_form form{
		width: 100%;
		padding: 85px 100px 73px;
		border-radius: 5px;
  		box-shadow: 0 20px 40px 0 rgba(69, 112, 223, 0.19);
  		margin-top: -120px;
  		background-color: white;
	}

	.feedback_form form input{
		height: 50px;
		margin-bottom: 20px;
	}

	.feedback_form form textarea{
		height: 190px;
		resize: none;
		margin-bottom: 58px; 
	}

	.feedback_form .convention_text{
	    font-size: 15px;
	    line-height: 1.44;
	    letter-spacing: -0px;
	    text-align: left;
	    color: #262328;
	    margin-left: 15px;
	}


/*** /feedback_form ***/