@media (max-width: 767px){

	/**** mobile-menu ***/

	header .phones-wrap{
		text-align: center;
		font-size: 15px;
		text-transform: uppercase;
		border-bottom: 1px solid #ccc;
	}

	header .phone-number{
		padding-top: 5px;
		height: 50px;
		font-weight: bolder;
	    padding-left: 0;
    	padding-right: 0;
	}

	header .phone-number a.more-filials{
	    display: inline-block;
	    margin: 0;
	    text-transform: none;
	}

	header .order-call{
		padding-top: 17px;
		background-color:  #D20F8C;
		height: 50px;
	    padding-left: 0;
    	padding-right: 0;
	}

	header .phones-wrap a.tel{
		color: rgb(51, 51, 51);
    	display: block;
	}

	header .order-call a{
		color: white;
	}


	header .middle_level{
		position: relative;
		height: 57px;
	}

	header .middle_level .contacts-block{
		margin-top: 13px;
		margin-right: 20px;
	}

	.logo_shap_mobile{
		width: 100%;
		top: 0;
		left: 0;
    	background-color: #ffffff;
	}

	header .middle_level .logo_shap_mobile a{
	    display: table;
	    margin: 10px auto;
	}

  header .middle_level.image-row-active .logo_shap_mobile a.logo-links{
    margin-top: 10px;
    margin-bottom: 10px;
  }

	header .middle_level .logo_shap_mobile a img{
		width: 147px;
		height: 38px;
	}

	.menu-trigger{
		position: absolute;
		left: 0;
		padding: 18px;
		z-index: 1000;
		background-color: white;
		width: 58px;
	}

	.menu-trigger.open{
	    left: calc(100% - 58px);
	    position: fixed;
	    /*top: 0;*/
	}

	.logo-links{
		float: none !important;
		margin: 0 auto;
	}

	.wrap_mobile_menu{
		background-color: #ffffff;
  		box-shadow: inset -9px -3px 12px 0 rgba(0, 0, 0, 0.1);
  		width: calc(100% - 58px);
  		right: 100%;
  		position: fixed;
	    height: 100%;
	    z-index: 1000;
	}

	.wrap_mobile_menu.open{
		right: 58px;
	}

	.wrap_mobile_menu .city-choice_mobile {
		height: 57px;
	    padding-top: 11px;
	}

	.wrap_mobile_menu .city-choice_mobile .dropdown-menu{

	}

	.wrap_mobile_menu .city-choice_mobile button{
		border: 0;
		font-size: 13px;
		font-weight: 600;
		color: #406bdb !important;
		box-shadow: none;
		background: none;
		text-transform: none;
		margin-left: 15px !important;
	}

	.wrap_mobile_menu .mobile_menu{
		padding: 5px 34px;
		width: 100%;
		border-bottom: solid 1px #f3f3f3;
		border-top: solid 1px #f3f3f3;
	}

	.wrap_mobile_menu .mobile_menu .main-menu_mobile a{
		display: block;
		opacity: 0.8;
	  font-size: 15px;
	  text-align: left;
	  color: #262328;
	  margin: 15px 0;
	}

	.menu-trigger, .wrap_mobile_menu, .black-bg{
		-webkit-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	    transition: all 0.3s ease;
	}

	.black-bg {
	    width: 100%;
	    height: 100%;
	    position: fixed;
	    display: none;
	    background-color: #333333;
	    opacity: 0;
	    z-index: 900;
	    top: 0;

	}

	.black-bg.open {
	    opacity: 0.9;
	    display: block;
	}

	.wrap_mobile_menu .contacts_mobile{
		padding: 15px 0 0 34px;
	}

	.wrap_mobile_menu .contacts_mobile a{
		display: block;
	}

	.wrap_mobile_menu .contacts_mobile a.tel{
		font-size: 17px;
		font-weight: 600;
		color: #262328;
	}

	.wrap_mobile_menu .contacts_mobile a.more-filials{
		color: #406bdb;
    	border-bottom: 1px dotted #406bdb;
    	font-size: 13px;
  		font-weight: 600;
	    display: inline-block;
	}

	.wrap_mobile_menu .contacts_mobile a.our_sites{
		margin-top: 15px;
    	font-size: 13px;
  		font-weight: 600;
  		color: #406bdb;
	}

	/**** /mobile-menu ***/
	h2{
		font-size: 22px;
	}

	section.intro{
	    background: url(../img/bg_intro_2x.png) center no-repeat;
	    padding-bottom: 65px;
	}

	section.intro h2{
		font-size: 24px;
		text-align: left;
		margin-top: 65px;
		line-height: 1.5;
	}

	section.intro p{
		font-size: 15px;
		text-align: left;
		line-height: 1.6;
	}

	section.why_crm_need{
		height: auto;
		padding-top: 0;
		background: url(../img/bg_intro_left.svg) 125% 310px no-repeat;
	}

	section.why_crm_need h2{
		margin-top: 30px;
		margin-bottom: 30px;
	}

	section.why_crm_need .wrap_img{
		float: left;
		width: 50px;
	}

	section.why_crm_need .single-reason{
		height: 60px;
		margin-bottom: 25px;
		text-align: left;
	}

	section.why_crm_need img{
		float: left;
		width: 25px !important;
    	height: auto !important;
	}

	section.why_crm_need .single-reason span{
		text-align: left;
		font-size: 15px;
	}

	.single-project-sphere{
		height: 140px;
	    box-shadow: 0 40px 50px 0 rgba(216, 230, 255, 0.2);
	    background-color: white;
	    border-radius: 8px;
	    margin: 5px;
	    width: calc(50% - 20px);
	    padding-top: 20px;
	}

	.many_projects{
		padding-bottom: 45px;
		padding-left: 15px;
		padding-top: 20px;
	}

	.many_projects h2{
		margin-bottom: 10px;
	}

	.clients_choice .single-reason{
		text-align: left;
		height: auto;
    	padding-top: 5px;
	}

	.clients_choice .single-reason .number{
		font-size: 25px;
		margin-bottom: 5px;
		text-align: center;
	}

	.clients_choice .single-reason .desc{
		font-size: 15px;
	}

	.clients .single-client{
	    height: 98px;
	    border-radius: 8px;
	    background-color: #ffffff;
	    box-shadow: 0 40px 50px 0 rgba(216, 230, 255, 0.2);
	    margin-bottom: 12px;
	    width: calc(100% - 60px);
	    margin: 0 auto 12px;
	    float: none;
	}

	.clients .single-client img {
	    margin-top: 8px;
	    max-height: 80px;
	}

	.clients .single-client:hover .hover-layer{
		display: none;
	}

	section.free_consulatation h3{
		font-size: 22px;
		text-align: left;
	}

	section.free_consulatation span.action-text{
		font-size: 15px;
		text-align: left;
	}

	.events_articles .single-article .title, .events_articles .single-event .title{
		font-size: 20px;
	}

	.events_articles .single-event p, .events_articles .single-article p{
		font-size: 15px;
	}

	.events_articles .single-article{
		padding: 15px;
	}

	.events_articles .single-event,
	.events_articles .single-article{
		height: auto;
	}

	.events_articles .single-article{
		padding-bottom: 80px;
	}

	.single-article img{
		max-width: 100%;
	}

	.feedback_form{
		padding-bottom: 37px;
		height: auto;
	}

	.feedback_form form{
		padding: 45px 20px 35px;
	}

	.main-feedback-form h4{
		font-size: 13px;
	}

	.feedback_form .convention_text{
		font-size: 13px;
		text-align: center;
	}

	.feedback_form form button{
		float: none !important;
	    margin: 30px auto 0;
	    display: block;
	}

	.launching{
		background: none;
		padding-top: 25px;
	}

	.launching h2{
		margin-bottom: 30px;
	}

	.launching .single_type_work .title{
		font-size: 18px;
	}

	.launching .single_type_work p{
		font-size: 15px;
	}

	.effective_launching_wrap .slick-dots{
	    bottom: -18px;
	}

	.effective_launching_wrap .slick-list{
		height: 350px;
	}

	.effective_launching_wrap .slick-dots li,
	.prices_bitrix24 .slick-dots li{
	    margin: 11px 14px;
	    width: 10px;
	    height: 10px;
	}

	.effective_launching_wrap .slick-dots li button,
	.prices_bitrix24 .slick-dots li button{
		box-shadow: none;
		padding: 4px;
		width: 8px;
	  	height: 8px;
	  	border: solid 1px #406bdb;
	}

	.effective_launching_wrap .slick-dots li.slick-active button,
	.prices_bitrix24 .slick-dots li.slick-active button{
		background-color: #406bdb;
	}

	.effective_launching_wrap .slick-dots li button:before,
	.prices_bitrix24 .slick-dots li button:before{
		display: none;
	}

	.mainpage-slider-wrap .slick-dots{
		bottom: -60px;
	}

	.mainpage-slider-wrap .slick-dots li{
	    margin: 11px 14px;
	    width: 10px;
	    height: 10px;
	}

	.mainpage-slider-wrap .slick-dots li button{
		box-shadow: none;
		padding: 4px;
		width: 8px;
	  	height: 8px;
	  	border: solid 1px white;
	}

	.mainpage-slider-wrap .slick-dots li.slick-active button{
		background-color: white;
	}

	.mainpage-slider-wrap .slick-dots li button:before{
		display: none;
	}

	.mainpage-slider-wrap h2{
		padding-top: 20px;
		padding-bottom: 35px;
	}

	.mainpage-slider-wrap .wrap-slider-nav{
		margin-top: 45px;
    	width: 85px;

	}

	.mainpage-slider-wrap .wrap-slider-nav .next-slider-arrow{
		float: right;
	}

	.mainpage-slider-wrap .slider .single-slide{
		border-radius: 5px;
	}

	.mainpage-slider-wrap .slider .single-slide .wrap-slider-desc{
		padding: 30px;
	}

	.mainpage-slider-wrap .slider .single-slide h3{
 		font-size: 20px;
	}

	.mainpage-slider-wrap .slider .single-slide p{
		font-size: 15px;
	}

	.mainpage-slider-wrap{
		height: auto;
		padding-bottom: 60px;
	}

	.launching .single_type_work{
		box-shadow: 0 40px 50px 0 rgba(64, 107, 219, 0.12);
	}

	.clients_choice{
		padding-top: 20px;
		padding-bottom: 50px;
	}

	.clients {
    	padding-top: 30px;
	}

	.clients .wrap-clients{
	    margin-bottom: 20px;
	}

	section.free_consulatation{
		background: #406bdb url(../img/bg_free_cons_left.png) 20px 195px no-repeat;
	}

	.events_articles .transparent-btn{
		float: left !important;
	    margin-top: 20px;
    	margin-bottom: 50px;
	}

	footer{
		height: auto;
	}

	footer button{
	    margin: 88px auto 20px;
		display: block;
	}

	.mobile-footer-logo img{
		width: 110px;
		margin-bottom: 45px;
	}

	.events_articles{
		/*padding-bottom: 95px;*/
	}


	footer a.tel{
		display: inline-block;
	    margin: 0;
	}

	footer .margin_bottom_10{
		margin: 0;
	}

	footer ul li a{

	}

	footer .tel-socnets-wrap{
		margin-bottom: 52px;
	}

	footer .logo-copyright-wrap{}

	footer .copyright{
		font-size: 12px;
	    margin-top: 7px;
	}

	section, footer{
		max-width: 100%;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.dropdown-services-list,
	.dropdown-products-list{
		left: 101px;
	}

	h2{ font-size: 32px; }

	footer ul li a{
		font-size: 13px;
	}

	.feedback_form{
		height: auto;
		padding-bottom: 50px;
	}
}


@media (min-width: 768px) and (max-width: 1199px){
	.mainpage-slider-wrap .slider .single-slide .wrap-slider-desc{
		padding: 50px;
	}

	.mainpage-slider-wrap .slider .single-slide img{
		max-width: 100%;
	}
}

@media (min-width: 992px) and (max-width: 1199px){
	.single-event .wrap-article-desc{
		margin-top: 155px;
	}

	.dropdown-services-list,
	.dropdown-products-list{
		left: 136px;
	}
}

@media (min-width: 1200px) {
	.single-event .wrap-article-desc {
	    margin-top: 200px;
	}
}


@media (min-width: 768px) {
	.feedback_form button{
		margin-right: 28px;
	}
}

@media (max-width: 400px) {
  h1.title{
    font-size: 32px;
  }

  .wrap_mobile_menu .city-choice_mobile{
    width: calc(100% - 30px);
    margin-left: 15px;
  }

  .wrap_mobile_menu .city-choice{
    width: 100%;
    box-sizing: border-box;
    font-size: 13px;
    position: relative;
  }

  .wrap_mobile_menu .city-choice_mobile span{
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -6px;
  }

  .cases_button{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 17px 18px;
  }
}
