.modal .modal-dialog .modal-content{
	padding: 50px 100px 45px;
	position: relative;
}

.modal .modal-header{
	border: none;
	padding: 0;
}

.popup .popup-content{
	padding: 20px 0 0;
	border: none;
}
.popup .popup-content .modal-footer,
.popup .popup-content .modal-body{
	padding: 20px 0 0;
	border: none;
}
.popup .popup-title .title-text{
	font-size: 24px;
}

.popup form input[type="text"], .popup form input[type="tel"]{
	margin-bottom: 20px; 
}

.popup form button{
	margin-bottom: 20px;
}

.modal.min-size .modal-dialog{
	max-width: 560px;
}

.popup-title .close, .modal-content button.close{
	position: absolute;
	right: 30px;
	top: 30px;
	background-image: url(../img/icons/q.png);
	height: 25px;
	width: 25px;
	padding: 0;
	background-color: transparent;
    opacity: .5;
    box-shadow: none;
    border-radius: 50%;
    overflow: hidden;
}

.popup .popup-title .close:hover{
	box-shadow: none;
	background-color: transparent;
	opacity: .2;
}

.popup .popup-title .close:focus{
	outline: none;
}

.popup .convention_text{
	text-align: left;
}
.text.error, .validate-box.error {position:relative;}
.text.error:before, .validate-box.error:before {content:attr(data-content); display:block; font-size: 14px; position:absolute; left:-188px; top:-15px; width:175px; padding:12px 13px; color:#fff; text-shadow:0 1px #8a2d14; line-height:16px; border:1px solid #a83737; border-radius:3px; box-shadow:0 1px 3px 0 rgba(0,0,0,.18); background:#f34747;
	background: -moz-linear-gradient(top,  #f34747 0%, #f02e2b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f34747), color-stop(100%,#f02e2b));
	background: -webkit-linear-gradient(top,  #f34747 0%,#f02e2b 100%);
	background: -o-linear-gradient(top,  #f34747 0%,#f02e2b 100%);
	background: -ms-linear-gradient(top,  #f34747 0%,#f02e2b 100%);
	background: linear-gradient(to bottom,  #f34747 0%,#f02e2b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f34747', endColorstr='#f02e2b',GradientType=0 );
	z-index: 10;}
.text.error-email:before, .validate-box.error-email:before {content:"Некорректно введен email";}
.text.error:after, .validate-box.error:after {content:""; display:block; position:absolute; left:-14px; top:10px; width:9px; height:14px; background: url(../img/error.png) no-repeat 0 50%; z-index: 10;}

/* fancybox */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {padding: 0; margin: 0; border: 0; outline: none; vertical-align: top;}

.fancybox-wrap {position: absolute; top: 0; left: 0; z-index: 8020;}
.fancybox-skin {position: relative; background: #fff; color: #444; text-shadow: none;}
.fancybox-opened {z-index: 8030;}
.fancybox-opened .fancybox-skin {-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);}
.fancybox-outer, .fancybox-inner {position: relative;}
.fancybox-inner {overflow: visible !important;}
.fancybox-type-iframe .fancybox-inner {-webkit-overflow-scrolling: touch;}
.fancybox-error {color: #444; margin: 0; padding: 15px; white-space: nowrap;}
.fancybox-image, .fancybox-iframe {display: block; width: 100%; height: 100%;}
.fancybox-image {max-width: 100%; max-height: 100%;}
#fancybox-loading {position: fixed; top: 50%; left: 50%; margin-top: -22px; margin-left: -22px; opacity: 0.8; cursor: pointer; z-index: 8060;}
#fancybox-loading div {width: 44px; height: 44px;}

.fancybox-close {position: absolute; top: 13px; right: 14px; width: 25px; height: 25px; cursor: pointer; z-index: 8040; background: url('../img/icons/q.png') no-repeat center center;}
.fancybox-nav {position: absolute; top: 0; width: 40%; height: 100%; cursor: pointer; text-decoration: none; /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0); z-index: 8040;}
.fancybox-prev {left: -41px;}
.fancybox-next {right: -41px;}
.fancybox-nav span {position: absolute; top: 35%; width: 43px; height: 210px; margin-top: -18px; cursor: pointer; z-index: 8040; visibility: hidden;}
.fancybox-prev span {left: -43px; background: url("../img/long-vertical-arrow-white.png") no-repeat 0px 0px;}
.fancybox-next span {right: -43px; background: url("../img/long-vertical-arrow-white.png") no-repeat -43px 0px;}
.fancybox-nav:hover span {visibility: visible;}
.fancybox-tmp {position: absolute; top: -99999px; left: -99999px; visibility: hidden; max-width: 99999px; max-height: 99999px; overflow: visible !important;}

/* fancybox overlay helper */
.fancybox-lock {overflow: hidden;}
.fancybox-overlay {position: absolute; top: 0; left: 0; overflow: hidden; display: none; z-index: 8010; background:url("../img/shadow.png");}
.fancybox-overlay-fixed {position: fixed; bottom: 0; right: 0;}
.fancybox-lock .fancybox-overlay {overflow: auto; overflow-y: scroll;}

/* fancybox title helper */
.fancybox-title {visibility: hidden; font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; position: relative; text-shadow: none; z-index: 8050;}
.fancybox-opened .fancybox-title {visibility: visible;}
.fancybox-title-float-wrap {position: absolute; bottom: 0; right: 50%; margin-bottom: -35px; z-index: 8050; text-align: center;}
.fancybox-title-float-wrap .child {display: inline-block; margin-right: -100%; padding: 2px 20px; background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8); -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; text-shadow: 0 1px 2px #222; color: #FFF; font-weight: bold; line-height: 24px; white-space: nowrap;}
.fancybox-title-outside-wrap {position: relative; margin-top: 10px; color: #fff;}
.fancybox-title-inside-wrap {padding-top: 10px;}
.fancybox-title-over-wrap {position: absolute; bottom: 0; left: 0; color: #fff; padding: 10px; background: #000; background: rgba(0, 0, 0, .8);}
.fancybox-inner{overflow-y: auto!important;}

.text.error:before, .validate-box.error:before{left:auto;top:-45px;width: 290px;right: 0px;}
.text.error:after, .validate-box.error:after{left:auto;top:-7px;right: 20px;transform: rotate(90deg);}

/* /fancybox */

.popup{position:relative;top:auto;left:auto;margin:auto;width:600px;padding: 50px 100px 45px;}
#popup{padding: 50px 100px 45px;width: 600px;}
#popup p{padding-top:20px;}

.fancybox-skin{border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
	box-shadow: 0 5px 15px rgba(0,0,0,.5);}

@media (max-width: 767px){
	.modal.min-size .modal-dialog{
		margin: 10px auto;
	}
	.popup{width: 100%;}
	#popup{width: 450px;}
}

@media (max-width: 580px){
	.modal .modal-dialog .modal-content{
		padding: 25px 50px 25px;
	}

	.modal .convention_text{
		font-size: 12px;
	}

	.popup .popup-title .title-text{
		font-size: 18px;
	}
	#popup{width: 100%;}
}