/*** feedback_form ***/

	.feedback_form{
		background: url(../img/bg_feedback_form.jpg);
		height: 550px;
		margin-top: 150px;
	}

	.feedback_form form{
		width: 100%;
		padding: 85px 100px 73px;
		border-radius: 5px;
  		box-shadow: 0 20px 40px 0 rgba(69, 112, 223, 0.19);
  		margin-top: -120px;
  		background-color: white;
	}

	.feedback_form form input{
		height: 50px;
		margin-bottom: 20px;
	}

	.feedback_form form textarea{
		height: 190px;
		resize: none;
		margin-bottom: 58px;
	}

	.feedback_form .convention_text{
	    font-size: 15px;
	    line-height: 1.44;
	    letter-spacing: -0px;
	    text-align: left;
	    color: #262328;
	}


/*** /feedback_form ***/

/*** blog-sidebar ***/

.blog-sidebar{}

.blog-sidebar h4{
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 600;
	color: #b5b5b5;
	margin-top: 40px;
}

.blog-sidebar .search-form{
	position: relative;
	margin-top: 15px;
}

.blog-sidebar .search-form input{
	background-color: rgba(231, 231, 231, .45);
	border: none;
	width: 100%;
	padding: 12px 35px 12px 13px;
}

.search-form input[type=submit]{
	position: absolute;
	background-size: 30px;
	background: url(../img/icons/ico-search.png) no-repeat 15px 14px rgba(234, 231, 231, 0.5);
	right: 1px;
	font-size: 18px;
	top: 0px;
	width: 30px;
	height: 43px;
}

.blog-categories .single-category{
	border-bottom: solid 1px #e7e7e7;
	padding: 15px 0;
}

.blog-categories .single-category .category-title{
  	font-size: 16px;
  	font-weight: 600;
}

.blog-categories .single-category .count-articles{
	float: right;
	font-size: 16px;
  	font-weight: 600;
  	color: rgba(38, 35, 40, .25);
}

.related-articles{}

.related-articles .single-related-article{
	height: 125px;
    padding: 25px 0 20px;
}

.related-articles .single-related-article .wrap-img{
	width: 100px;
	float: left;
	padding-right: 20px;
}

.related-articles .single-related-article .wrap-img img{
	max-width: 100%;
}

.related-articles .single-related-article .wrap-title{
	font-size: 15px;
  	font-weight: 600;
  	color: #262328;
}
.subscribe-form-sticky{
	position:sticky;
	top: 170px;
}
.subscribe-form{
	border-radius: 6px;
	box-shadow: 0 40px 50px 0 rgba(216, 230, 255, 0.2);
	border: solid 5px #406bdb;
	background-image: url(../img/subscribe-bg.svg);
	background-repeat: no-repeat;
	background-position: left top;
	padding: 45px 15px;
}

.subscribe-form .title{
    font-size: 23px;
    font-weight: bold;
    color: #203260;
}

.subscribe-form p{
    color: rgba(32, 50, 96, .5);
    margin-bottom: 35px;
    margin-top: 12px;
}

.subscribe-form input{
    border-radius: 3px;
    background-color: #f4f4f4;
    padding: 12px 0 12px 15px;
    width: 100%;
    border: none;
}

.subscribe-form input[type="submit"]{
	width: 100%;
	margin-top: 15px;
	color: white;
	font-size: 13px;
	padding: 17px 38px;
	text-transform: uppercase;
	border: none;
	border-radius: 5px;
	box-shadow: none;
	background-color: #406bdb;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
.subscribe-form input[type="submit"]:hover,
.subscribe-form input[type="submit"]:focus{
	background-color: #d159a6;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

/*** /blog-sidebar ***/

/*** blog-article ***/

.article_content{}

.article_body{
	padding-bottom: 25px;
	padding-top: 25px;
}

.article_body p{
	font-size: 18px;
	color: #262328;
	line-height: 1.5;
}

.article_body img{
	width: 100%;
}

.article_body ul{}

.article_body li{
	margin-top: 20px;
    font-size: 18px;
    padding-left: 10px;
}

.article_body h3{
	margin-top: 70px;
	font-size: 30px;
}

.article_body blockquote{
	border-left: none;
	padding: 0;
	margin-top: 35px;
}

.article_body blockquote p{
	margin-top: 0;
	font-size: 22px;
	font-weight: 600;
}

.article_body blockquote:before{
    content: "\00AB";
    color: rgba(190, 18, 128, .35);
    margin-right: 20px;
    font-size: 55px;
    display: block;
    float: left;
    height: 31px;
    margin-top: -27px;
    font-weight: 600;
}

.article_body .date_view_count_info{
	font-size: 14px;
	margin-bottom: 40px;
}
.blog_events_articles{
	padding-top: 0;
	padding-bottom: 0;
}

.blog_events_articles h2{
	margin-left: 15px;
	margin-bottom: 40px;
}

.blog_events_articles h4{
	margin-left: 15px;
}

.blog_events_articles.events_articles .single-article{
	height: 530px;
}

.blog_events_articles .single-article .title, .blog_events_articles .single-event .title{
	margin-top: 20px;
}

.blog_events_articles .big_article .single-article .title, .blog_events_articles .big_article .single-event .title{
    margin: 20px 0;
}

.blog_events_articles .single-event .wrap-article-desc{
	/*margin-top: 160px; */
}

.blog_events_articles .single-event {
	min-height: 100%;
	padding: 0;
}

.blog_events_articles .single-event .tags_wrap {
	position: absolute;
	top: 30px;
	left: 30px;
	width: calc(100% - 60px);
}

.blog_events_articles .single-event .tags_wrap::after {
	content: '';
	display: block;
	clear: both;
}

.blog_events_articles .single-event > a {
	display: block;
	padding: 30px 30px 80px;
}

.blog_events_articles .single-event .tags_wrap a {
	float: left;
	margin-right: 4px;
	margin-bottom: 4px;
}

.blog_events_articles .single-event .tags_wrap a span {
	display: inline-block;
	vertical-align: top;
}

.blog_events_articles .single-article .wrap-article-img .tags_wrap {
	top: 12px;
	width: calc(100% - 24px);
}

.blog_events_articles .single-article .wrap-article-img .tags_wrap::after {
	content: '';
	display: block;
	clear: both;
}

.blog_events_articles .single-article .wrap-article-img .tags_wrap a {
	float: left;
	margin-right: 12px;
	margin-bottom: 12px;
}

.blog_events_articles .single-article .wrap-article-img .tags_wrap a span {
	margin-right: 0;
	display: inline-block;
	vertical-align: top;
}

.big_article .single-event{
	border-radius: 0;
}

a.single-event{
	display: block;
}

.dark_article p{
	color: rgba(255, 255, 255, .65);
	line-height: 1.22;
}

.dark_article .tags_wrap span{
	background-color: rgba(255, 255, 255, .65);
	color: #203260;
	padding: 5px 10px;
	border-radius: 5px;
}

.big_article .title{
	font-size: 30px;
}

.big_article.main_event .single-event{
	height: 540px;
}

.big_article.main_event .wrap-article-desc{
	margin-top: 140px;
}

.long-article .single-article,
.blog_events_articles.events_articles .long-article .single-article,
.events_articles .subscribe-form
{
	height: 670px;
}

.events_articles .subscribe-form{
	margin-top: 0px;
	position: relative;
}

.events_articles .subscribe-form .footer{
	position: absolute;
	bottom: 20px;
	padding-right: 15px;
}

.events_articles .subscribe-form .accept-confirm{
	color: rgba(32, 50, 96, .5);
	font-style: italic;
}

.long-article .date_view_count_info{
	margin-top: 10px;
}

.long-article .event_date_price_wrap{
	position: absolute;
	bottom: 80px;
}

.long-article .single-article .title{
	margin-top: 20px;
}

article{
	margin-bottom: 40px;
}

.about-crm h2{
	margin-top: 55px;
}

@media (max-width: 767px){
	.article_content,
	.blog-sidebar{
		padding-left: 15px;
		padding-right: 15px;
	}

	.blog-sidebar,
	.blog_events_articles,
	.article_content{
		float: none !important;
	}

	.blog_events_articles{
		padding-bottom: 0 !important;
	}

	.article_body p,
	.article_body li{
		font-size: 16px;
	}

	.article_body ul{
		padding-left: 20px;
	}

	.article_body li{
		padding-left: 0;
	}

	.article_body h3 {
	    margin-top: 30px;
	    font-size: 22px;
	}

	.article_body blockquote p{
		font-size: 18px;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.related-articles .single-related-article .wrap-img{
		padding-bottom: 20px;
		width: 80px;
	}

	.related-articles .single-related-article .wrap-title{
		font-size: 12px;
	}

	.blog-categories .single-category .count-articles{
		float: left;
		font-size: 13px;
	}

	.blog-categories .single-category .category-title{
		display: block;
		font-size: 13px;
	}

	subscribe-form .title {
 	   font-size: 14px;
	}

	.subscribe-form p{
		font-size: 13px;
	}

	.subscribe-form button{
		padding: 12px 20px;
	}
}

@media (min-width: 992px) and (max-width: 1199px){
	.related-articles .single-related-article .wrap-img{
		width: 80px;
	}

	.related-articles .single-related-article .wrap-title,
	.blog-categories .single-category .category-title,
	.blog-categories .single-category .count-articles{
		font-size: 14px;
	}
}

.pagination{
	margin-top: 40px;

}

.pagination li{}

.pagination li.active{}

.pagination>li>a, .pagination>li>span{
	border: none;
	font-size: 18px;
	color: #203260;
    width: 40px;
    height: 40px;
}

.pagination>li.nav-arrows>a{
	border-radius: 6px;
    border: solid 2px rgba(64, 107, 219, 0.1);
}

.pagination>li.left-arrow>a{
	margin-right: 35px;
}

.pagination>li.right-arrow>a{
	margin-left: 35px;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
	background-color: transparent;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover{
	border-radius: 50%;
	background-color: rgba(216, 230, 255, .2);
	color: #406bdb;
}

.events_tags_wrap{
	margin-top: 30px;
	margin-bottom: 50px;
}

.events_tags_wrap .date_view_count_info{
	position: relative;
}

.events_tags_wrap .event_tag{
	cursor: pointer;
}

.event_tag{
	font-size: 12px;
	padding: 5px 7px;
	margin-right: 15px;
	border-radius: 5px;
}

.date_view_count_info .event_tag{
	font-size: 12px;
	margin-right: 0;
	text-transform: none;
	color: #333;
}

.event_tag.active{
	background-color: rgba(216, 230, 255, 65);
}

.event_content{
    float: none;
    font-size: 16px;
    line-height: 1.8;
    padding-bottom: 30px;
}

.event_content h3{
    font-size: 20px;
    margin-top: 35px;
}

.event_content ul{
    padding-left: 30px;
}

.event_content ul li{
    padding-left: 10px;
}

.experts-wrap{
  border-top: solid 2px rgba(231, 231, 231, .5);
  width: 100%;
}

.experts-wrap h3{
    margin-top: 30px;
    margin-bottom: 40px;
}

.single-expert .expert-img{
	float: left;
	padding-right: 30px;
	padding-bottom: 30px;
}

.single-expert img{border-radius: 50%; overflow: hidden;}

.single-expert .expert-desc{}

.single-expert .title{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    display: inline-block;
}

.single-expert p{
	color: rgba(38, 35, 40, .65);
}

#yandex-map{
	width: 100%;
	height: 450px;
}

.event-map{
	margin-top: 30px;
	margin-bottom: 30px;
}

.event-place-desc-wrap{
	position: relative;
}

.event-place-desc{
	position: absolute;
	left: 0;
	top: 25px;
	color: white;
	padding: 40px 60px 50px;
	border-radius: 3px;
  background-color: rgb(64, 107, 219);
  box-shadow: 0 40px 50px 0 rgba(216, 230, 255, 0.2);
  z-index: 20;
  max-width: 45%;
}

.event-place-desc .title{
	margin-bottom: 25px;
	font-size: 23px;
	font-weight: 600;
}

.event-place-desc .italic{
	color: rgba(255, 255, 255, .5);
	font-style: italic;
	margin-top: 25px;

}

.desc-ico{
	display: block;
	width: 100%;
	margin: 10px 0px;
	font-size: 15px;
}

.desc-ico img{
	float: left;
	margin-right: 12px;
}

.event-place-desc span{
	display: block;
	white-space: normal;
}

.event-place-desc .desc-ico{
  display: flex;
  align-items: center;
}

.ico-maker{
	width: 13px !important;
	margin-right: 10px !important;
}


@media (max-width: 767px){

	.event_tag{
		margin: 5px;
		display: inline-block;
	}

	.big_article .title {
	    font-size: 20px;
	}

	.big_article.main_event .wrap-article-desc {
	    margin-top: 20px;
	}

	.dark_article .date_view_count_info span{
	    font-size: 10px;
	    margin: 5px;
	}

	.event_content{
		font-size: 14px;
	}

	.event_content h3{
		font-size: 18px;
	}

	.single-expert .expert-img{
		padding-right: 0;
		width: 100%;
	}

	.single-expert .expert-img img{
		margin: 0 auto;
		display: block;
	}

	.subscribe-form .title{
		font-size: 16px;
	}

	.events_articles .subscribe-form .accept-confirm{
		font-size: 10px;
	}

	.long-article .date_view_count_info {
	    font-size: 10px;
	}

  .event-place-desc-wrap {
    padding: 0;
  }

  .event-place-desc{
    position: relative;
    max-width: 100%;
    top: auto;
    padding: 30px;
  }
}

@media (max-width: 991px){
	.events_tags_wrap .date_view_count_info{
		float: left !important;
		margin-top: 20px;
	}

	.big_article.main_event .single-event{
		height: auto;
	}
	.events_articles .long-article .single-article{
		padding-bottom: 180px;
	}
	.long-article .event_date_price_wrap{
		bottom: 70px;
	}

	.long-article .single-article, .events_articles .subscribe-form{
		height: auto;
		min-height: 400px;
	}

	.events_articles .subscribe-form{
		padding-bottom: 200px;
	}
}
/**** modal_mention ****/

.popup.popup-boss blockquote{
	border-left: none;
	padding: 0;
	line-height: 1.76;
}

.popup.popup-boss blockquote:before {
	content: "\00AB";
	color: rgba(64, 107, 219, .25);
	margin-right: 10px;
	font-size: 42px;
	display: block;
	float: left;
	height: 31px;
	margin-top: -27px;
	font-weight: 600;
}

.popup.popup-boss .head_name {
	font-weight: bold;
	font-size: 16px;
	margin-top: 15px;
}

.popup.popup-boss .head_position {
	font-style: italic;
	font-size: 16px;
	color: rgba(38, 35, 40, .55);
	font-weight: 300;
}

.popup.popup-boss  input{
	height: 50px;
	margin-bottom: 20px;
}

.popup.popup-boss  textarea{
	height: 190px;
	resize: none;
	margin-bottom: 20px;
}

.main-feedback-form .convention_text{
	font-size: 15px;
	line-height: 1.44;
	letter-spacing: -0px;
	text-align: left;
	color: #262328;
}

.popup.popup-boss form{
	margin-top: 45px;
}

@media (max-width: 991px){
	.popup.popup-boss .wrap_img img{
		margin: 0 auto 20px;
		display: block;
	}

	.popup.popup-boss button[type="submit"]{
	    float: none !important;
	    margin: 10px auto;
	    display: block;
	}
	.blog_events_articles.events_articles .single-article {
		height: auto;
		padding-bottom: 80px;
	}
}

@media (min-width: 768px){
	.modal-dialog.container {
		width: 500px;
	}

	.popup-boss .title-text{
		margin-bottom: 30px;
	}

}

@media (min-width: 768px) and (max-width: 991px){
	.popup-boss {
		width: 700px;
	}
}

@media (min-width: 992px){
	.popup-boss {
		width: 800px;
	}

	.popup-boss form{
		margin-top: 45px;
	}

	.popup-boss .wrap_img{
		float: left;
		padding-right: 40px;
		padding-bottom: 60px;
	}
}

@media (min-width: 992px) and (max-width: 1199px){
	.popup-boss blockquote{
		font-size: 16px;
	}

	.popup-boss .head_position{
		font-size: 14px;
	}
}


@media (min-width: 1200px){
	.modal-dialog.container {
		width: 1000px;
	}

	.popup.popup-boss form{
		margin-top: 0px;
	}
}

/**** /modal_mention ****/
