.product_intro{overflow: hidden;position: relative;}

.product_intro .container{
	overflow: visible;
}

.product_intro h1.title{
	font-size: 42px;
	font-weight: 600;
	line-height: 1.3em;
}

.product_intro .subtitle{
	opacity: 0.7;
	font-size: 23px;
	font-weight: 600;
	line-height: 1.38;
	color: #262328;
	margin-bottom: 30px;
}

.product_intro .product_desc{
	opacity: 0.65;
    font-size: 18px;
    line-height: 1.56;
    color: #262328;
    margin-bottom: 30px;
}

button.transparent-btn.pink-color{
	border: solid 3px rgba(190, 18, 128, 0.2);
	color: #be1280;
    padding: 14px 27px;
}

button.transparent-btn.pink-color:hover{
	box-shadow: 0 0px 10px 0 rgba(190, 18, 128, 0.2);
}

.product_intro .wrap_for_btn{
	margin-top: 35px;
	position: relative;
    z-index: 10;
}

.product_intro .wrap_for_btn .pink-color{
	margin-left: 40px;
}

.product_intro .wrap_product_img{
	/* position: relative; */
	position: absolute;
	top: 100px;
	/*right: -100px;*/
	left: 57%;
}

.product_intro .wrap_product_img .product_screen{
	/*width: 941px;*/
	/*height: 461px;*/
}

.product_intro .wrap_product_img .product_logo{
	position: absolute;
	top: 0;
	left: 0;
}

.product_intro .single-feature{
    height: 80px;
    margin-bottom: 20px;
}

.product_intro .about_product .single-feature{
	margin-bottom: 0px;
	margin-top: 20px;
    height: 60px;
}

.product_intro .features-block{
	margin-top: 70px;
}

.product_intro .single-feature .wrap-img{	
	height: 100%;
	padding-right: 20px;
}

.clients.product_clients{
	padding-top: 40px;
	padding-bottom: 0;
}

.product_intro .single-feature img{}

.product_intro .single-feature span{
	font-size: 17px;
	font-weight: 600;
	line-height: 1.44;
	color: #262328;
}

.product_intro .about_product .single-feature span{
	font-size: 16px;
}

.adding-modules{
	height: 540px;
	background-image: url(../img/products/bit/modules-bg.png);
	background-size: cover;
	overflow: visible;
	margin-bottom: 370px;
}

.adding-modules .packages-info{
	color: white;
	padding-top: 70px;
	padding-bottom: 80px;
}

.adding-modules .packages-info span{
	display: block;
}

.adding-modules .packages-info .crm-package{
	padding-top: 20px;
}

.adding-modules .packages-info .crm-package.first-package{
    width: calc(100% - 20px);
    border-right: 1px solid rgba(151, 151, 151, .5);
}

.adding-modules .packages-info .crm-package .package-name{
	font-size: 16px;
	margin-bottom: 14px;
}

.adding-modules .packages-info .crm-package .package-price{
	font-size: 18px;
	font-weight: 600;
}

.adding-modules .packages-info h2{
	padding-left: 0;
	font-size: 32px;
}

.adding-modules .adding-modules-wrap{
	height: 540px;
  	border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 20px 40px 0 rgba(69, 112, 223, 0.19);
}

.adding-modules .adding-modules-wrap .modules-list{
	/*border-right: 4px solid rgba(64, 107, 219, 0.1);*/
	width: 330px;
	float: left;
	height: 540px;
}

.adding-modules .adding-modules-wrap .modules-list .mCSB_scrollTools .mCSB_draggerRail{
	background-color: rgba(64, 107, 219, 0.1);
	width: 4px;
}

.adding-modules .adding-modules-wrap .modules-list  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    opacity: 0.65;
    border-radius: 30px;
    background-color: #406bdb;
}

.adding-modules .adding-modules-wrap .modules-list .single-module,
.adding-modules .adding-modules-wrap .modules-list .title-modules{
	font-size: 18px;
	color: #262328;
	opacity: 0.65;
	padding: 26px 0 26px 30px;
	width: 100%;
	border-bottom: solid 1px rgba(38, 35, 40, 0.05);
}

.adding-modules .adding-modules-wrap .modules-list .single-module{
	cursor: pointer;
}

.adding-modules .adding-modules-wrap .modules-list .title-modules{
	font-size: 13px !important;
  	font-weight: 600;
  	color: #406bdb;
  	text-transform: uppercase;
}

.adding-modules .adding-modules-wrap .modules-list .single-module.active{
	font-weight: 600;
    opacity: 1;
}

.adding-modules .adding-modules-wrap .module-content{
	width: calc(100% - 330px);
	padding: 45px 100px 65px 65px;
	display: inline-block;
}

.adding-modules .adding-modules-wrap .module-content h3{
	font-size: 32px;
	font-weight: 600;
	color: #262328;
    margin-bottom: 20px;
    line-height: 1.3em;
}

.adding-modules .adding-modules-wrap .module-content p{
	opacity: 0.65;
    font-size: 20px;
    line-height: 1.55;
    color: #262328;
}

.adding-modules .adding-modules-wrap .module-content span.module-price{
	display: inline-block;
	margin-top: 85px;
	font-size: 32px;
    font-weight: 600;
}

.wrap-task{
	color: #203260;
	padding-bottom: 100px;
}

.wrap-task h2{
	font-size: 29px;
	line-height: 1em;
}

.wrap-task.blue-grey-bg{
	 padding-top: 50px;
}

.task-subtitle{
  opacity: 0.45;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
  display: inline-block;
}

.wrap-task .wrap-task-img{
	margin-top: 20px;
}

.wrap-task p{
	/*opacity: 0.65;
	font-size: 15px;
	line-height: 1.5;*/

    opacity: 0.65;
    font-size: 18px;
    line-height: 1.56;
    color: #262328;
}

.wrap-task.blue-grey-bg .wrap-task-img{
	margin-top: 40px;
}

.product-features-wrap{
	margin-top: 105px;
	/*padding-bottom: 70px;*/
	padding-bottom: 50px;
}

.task_with_screen{
	padding-top: 100px;
	position: relative;
	/*background-image: url(../img/products/bit/projects_task.png);*/
	background-repeat: no-repeat;
	background-position: center 60px;
	padding-bottom: 200px;
}

.wrap-task .bg_ico_management{
	background-image: url(../img/products/1c_crm/ico_management_hr.svg);
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 60px;
    margin-top: 60px; 
    padding-bottom: 20px;
}

.wrap-task .padding_r_20{
	padding-right: 20px;
}

.task_with_screen .wrap-task-img{	
	position: absolute;	
	right: 57%;
	margin-right: 15px; 
}

.product_clients{}

.product_clients h4{
    opacity: 0.35;
    font-size: 18px;
    font-weight: 600;
    color: #262328;
    text-transform: uppercase;
}

.product_clients img{
    max-width: 80%;
}

.product_clients .wrap-clients{
	margin: 0;
}

.product_launching{
	background: none;
	padding-top: 60px;
	margin-bottom: 0;
	/*padding-bottom: 160px;*/
	padding-bottom: 30px;
}

.product_launching .single_type_work{
	background-position: 85% 50px;
	height: 125px;
}

.accordeon-adding-modules-wrap{
	/* background-color: white; */
	border-radius: 5px;
}

.accordeon-adding-modules-wrap .mobile-modules-list{
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px 5px #ccc;
    background-color: white;
    padding-left: 0;
    padding-right: 0;
}

.accordeon-adding-modules-wrap .mobile-modules-list .single-module{
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid;
    color: #406bdb;
    font-weight: 600;
}

.accordeon-adding-modules-wrap .mobile-modules-list .single-module:first-child{
    border-radius: 5px 5px 0 0;
}

.mobile-modules-list .border-radius-bottom{
	border-radius: 0 0 5px 5px;
}

.accordeon-adding-modules-wrap .mobile-modules-list .module-desc{
	display: none;
	border-bottom: 1px solid #406bdb;
	background-color: #e0e8fe;
    padding: 15px;
}

.accordeon-adding-modules-wrap .mobile-modules-list .module-desc h3{
	margin-top: 0;
	font-size: 16px;
}

.accordeon-adding-modules-wrap .mobile-modules-list .module-desc .module-price{
	font-weight: 600;
}

.big_size_single_types{
	margin-top: 30px;
}

.types_bitrix_wrap.big_size_single_types .single_type_bitrix{
	margin-top: 40px;
}

@media(min-width: 1200px){
	.task_with_screen{
		background-position: 44% 60px;
	}
}

@media(max-width: 767px){
	.task_with_screen{
		background-image: none;
		padding-top: 30px;
		padding-bottom: 30px; 
	}

	.task_with_screen .wrap-task-img{
		position: static;
	}

	.task_with_screen .wrap-task-img img{
		max-width: 100%;
	}

	.product_intro .wrap_product_img{
		position: static;
	}

	.product_intro .wrap_product_img img{
		max-width: 100%;
	}


	.product_intro .subtitle{
		font-size: 16px;
	}

	.product_intro h2.title{
		font-size: 24px;
	}

	.product_intro .product_desc,
	.wrap-task p{
		font-size: 14px;
	}

	.product-features-wrap{
		margin-top: 30px;
	    padding-bottom: 10px;
	}

	.product_intro .single-feature{
	    height: 68px;
    	margin-bottom: 10px;
	}

	.wrap-task{
		padding-bottom: 50px;
	}

	.wrap-task h2 {
	    font-size: 24px;
	}

	.task-subtitle{
		font-size: 16px;
	}

	.adding-modules{
		height: auto;
		margin-bottom: 0; 
	}

	.adding-modules .packages-info{
	    padding-top: 15px;
	    padding-bottom: 30px;
	}

	.adding-modules .packages-info h2{
	    font-size: 24px;
	    margin-left: 15px;
	}

	.adding-modules .packages-info .crm-package.first-package{
	    border-right: none;
	    padding-bottom: 10px;
	    border-bottom: 1px solid rgba(151, 151, 151, .5);
	}

	.adding-modules .packages-info .crm-package{
	    padding-top: 5px;
	}

	.adding-modules .packages-info .crm-package .package-name{
	    font-size: 14px;
	}

	.adding-modules .packages-info .crm-package .package-price{
	    font-size: 16px;
	}

	.product_clients h4{
		margin-bottom: 30px;
	}

	.clients.product_clients .single-client{
		background-color: transparent;
	}

	.text-left-xs{
		text-align: left !important;
	}

	.types_bitrix_wrap.big_size_single_types .single_type_bitrix{
		margin-top: 20px; 
	}
}

@media (max-width: 991px){

	.product_intro .wrap_for_btn .pink-color{
		margin: 10px auto;
		display: block;
		padding: 12px 20px;
	}

	.product_intro .wrap_for_btn button{
		margin: 10px auto;
		display: block;
	}

	.product_intro .single-feature span{
		font-size: 15px;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.product_intro h2.title{
		font-size: 38px;
	}

	.product_intro .product_desc,
	.wrap-task p{
		font-size: 16px;
	}

	.adding-modules .adding-modules-wrap .module-content h3{
		font-size: 28px;
	}

	.adding-modules .adding-modules-wrap .module-content{
	    padding: 30px;
	    width: calc(100% - 300px);
	}

	.adding-modules .adding-modules-wrap .module-content p{
		font-size: 18px;
	}

	.adding-modules .adding-modules-wrap .modules-list .single-module,
	.adding-modules .adding-modules-wrap .modules-list .title-modules{
		padding: 26px 0 26px 15px;
		font-size: 16px;
	}

	.adding-modules .adding-modules-wrap .modules-list{
		width: 300px;
	}
}

@media (min-width: 992px) and (max-width: 1199px){
	.product_intro .wrap_for_btn .pink-color {
	    margin-left: 20px;
	}
}

@media (min-width: 992px){
	.product_intro .about_product{
		min-height: 460px;
		padding-right: 30px;
	}	

	.task_with_screen{
		min-height: 660px;
	}
}

@media (min-width: 768px){
	.types_bitrix_wrap.big_size_single_types .single_type_bitrix{
		height: 330px;
	}

	.wrap_products_2bg{
		    background: url(../img/products/bg-image_3.svg) -20px 600px no-repeat,
		    		    url(../img/products/bg-image.svg) 100% bottom no-repeat;
	}

	.bg_socnet_ico{
		background-image: url(../img/products/bitrix/socnet_ico.png);
	    background-position: 45% 80px;
	    background-repeat: no-repeat;
	}

	.bg_projects_task_ico{
	    background-image: url(../img/products/bit/projects_task.png);
	    background-repeat: no-repeat;
	    background-position: 45% 67px;
	}

	.bg_tasc_autopilot_ico{
	    background-image: url(../img/products/amo/tasc_autopilot.svg);
	    background-repeat: no-repeat;
	    background-position: 46% 67px;
	}
}

.task_with_screen.bg_right_top{
	background: url(../img/products/bg-image.svg) 115% -400px no-repeat;
}