.bitrix_24_intro{
	height: 600px;
	/*margin-bottom: 60px;*/
}

.types_bitrix_wrap{

}

.prices_bitrix24 h2{
	margin-left: 15px;
}

.product_intro.bitrix_24_intro .wrap_product_img .product_logo{
	top: -35px;
    left: -30px;
}


.types_bitrix_wrap .single_type_bitrix{
	height: 215px;
	padding: 40px 50px;
}

.types_bitrix_wrap .single_type_bitrix span.title{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 15px;
	display: inline-block;
}

.types_bitrix_wrap .single_type_bitrix p{
	opacity: 0.65;	
	font-size: 15px;	
	line-height: 1.49;	
	color: #203260;
}

.prices_bitrix24{
	padding-top: 40px;
}

.editions-wrap{
	margin-top: 30px;
}

.prices_bitrix24 .compare_editions{
	color: #be1280;
	border-bottom: 1px dashed #be1280;
	font-size: 14px;
	font-weight: 600;
	margin-top: 34px;
	text-transform: uppercase;
	display: inline-block;
	margin-left: 20px;
}

.prices_bitrix24 .single-edition{
	height: 380px;
    border-radius: 3px;
    box-shadow: 0 40px 50px 0 rgba(216, 230, 255, 0.2);
    border: solid 1px rgba(38, 35, 40, 0.05);
    color: rgb(51, 51, 51);
    display: inline-block;
    width: 100%;
    background-color: white; 
}

.prices_bitrix24 .single-edition.single-edition__srm{
	height: 420px;
}

.prices_bitrix24 .single-edition.big-content{
	height: 450px;
}


.prices_bitrix24 .single-edition:hover{
	color: white;
	background-color: #262328;
}

.prices_bitrix24 .single-edition span{
	display: block;
}

.prices_bitrix24 .single-edition span.title{
	text-align: center;
	font-size: 24px;
    font-weight: 600;
    margin: 0 auto 20px;
}

.prices_bitrix24 .single-edition span.sub-title{
	display: block;
	text-align: center;
	margin: -8px 0 4px;
	font-size: 18px;
	font-weight: 700;
	min-height: 26px;
}

.prices_bitrix24 .single-edition.single-edition__srm span.title{
	line-height: 1.2em;
	font-size: 22px;
	margin-bottom: 12px;
}

.prices_bitrix24 .single-edition span.title.small-title{
	font-size: 20px;
}

.prices_bitrix24 .single-edition .edition-content{
	height: 300px;
	padding: 40px 25px;
	position: relative;
}

.prices_bitrix24 .single-edition.single-edition__srm .edition-content{
	height: 324px;
}

.prices_bitrix24 .single-edition.big-content .edition-content{
	height: 370px;
	padding: 40px 20px;
}

.prices_bitrix24 .single-edition .edition-content .item{
	font-size: 15px;
	margin-bottom: 10px;
	text-align: center;
}

.prices_bitrix24 .single-edition .edition-content span.price{
	position: absolute;
    bottom: 40px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 500;
    left: 0;
    right: 0;
    text-align: center;
}

.prices_bitrix24 .single-edition .edition-content span.for_single_user{
	position: absolute;
    bottom: 20px;
    margin: 0 auto;
    font-size: 14px;
	color: #262328;
	opacity: 0.65;
    left: 0;
    right: 0;
    text-align: center;
    font-style: italic;
}

.prices_bitrix24 .single-edition:hover .edition-content span.for_single_user{
	color: white;
}

.prices_bitrix24 .single-edition .edition-content table.list-items{

}

.prices_bitrix24 .single-edition .edition-content table.list-items td{
	padding: 5px;
}

.prices_bitrix24 .single-edition .edition-content table.list-items td.wrap_for_ico{
	vertical-align: top;
	padding-left: 0;
}

.prices_bitrix24 .single-edition .edition-content .item i,
.prices_bitrix24 .single-edition .edition-content .list-items i{
	color: #e2e4da;
	font-size: 20px;
}

.prices_bitrix24 .single-edition:hover .edition-content .item i,
.prices_bitrix24 .single-edition:hover .edition-content .list-items i{
	color: #daff45;
}

.prices_bitrix24 .single-edition button{
	text-transform: uppercase;
  	font-size: 14px;
	font-weight: 600;
	color: #406bdb;
	border: solid 2px #406bdb;
	border-radius: 5px;
	background: none;
	box-shadow: none;
	padding: 14px 21px;
	text-transform: uppercase;
	display: block;
	margin: 0 auto;
	transition: none;
}

.prices_bitrix24 .single-edition:hover button{
	background-color: #be1280;
	color: white;
	border: solid 2px #be1280;
}

.task-socnet{
	position: relative;
	padding-top: 110px;
	background-image: url(../img/products/bitrix/socnet_ico.png);
	background-position: 50% 100px;
	background-repeat: no-repeat;
	height: 690px;
}

.task-socnet .wrap-task-img{
	position: absolute;
    right: 57%;
}

.task-full-managment{}

.task-full-managment .ico_for_task{}

.wrap-task.task-full-managment .wrap-task-img{
	margin-top: -160px;
}

.wrap-task.task-full-managment .wrap-task-img img{
	/*margin-left: -24px;*/
}

.task-management-projects{
	padding-top: 130px;
	position: relative;
	background-image: url(../img/products/bit/projects_task.png);
	background-repeat: no-repeat;
	background-position: 50% 100px; 
}

.task-management-projects .wrap-task-img{
	position: absolute;
	right: 57%;
}

.wrap-opportunities button{
	margin-top: 55px;
	margin-bottom: 100px; 
}

.wrap-opportunities h2{
	margin-top: 110px;
    margin-bottom: 30px;
}

.wrap-opportunities .single_opportunity{
	border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 40px 50px 0 rgba(216, 230, 255, 0.2);
  height: 270px;
  padding: 40px;
  margin-bottom: 30px; 
}

.wrap-opportunities .single_opportunity .title{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
  display: inline-block; 
}

.wrap-opportunities .single_opportunity p,
.wrap-opportunities .single_opportunity ul{
	font-size: 16px;
}

@media (max-width: 767px){
	.bitrix_24_intro{
		height: auto;
		margin-bottom: 30px;
	}

	.prices_bitrix24 .slick-list{
		padding-bottom: 20px;
	}

	.prices_bitrix24 {
	    padding-top: 20px;
	}

	.types_bitrix_wrap .single_type_bitrix{
		padding: 30px 30px;
    	margin-bottom: 15px;
    	height: auto;
	}

	.prices_bitrix24 h2{
		margin-left: 15px;
		float: none !important;
	}

	.prices_bitrix24 .compare_editions{
		margin-top: 0;
	    display: inline-block;
	}


	.task-socnet{
		height: auto;
	    padding-top: 20px;
	    background-image: none;
	}

	.task-socnet .wrap-task-img,
	.task-management-projects .wrap-task-img{
		position: static;
	}

	.task-socnet .wrap-task-img img,
	.wrap-task.task-full-managment .wrap-task-img img,
	.task-management-projects .wrap-task-img img{
		max-width: 100%;
	}

	.wrap-task.task-full-managment .wrap-task-img img{
		margin-left: 0;
	}

	.wrap-task.task-full-managment .wrap-task-img{
		margin-top: 0; 
	}

	.task-management-projects{
		padding-top: 0;
		padding-bottom: 0;
		background-image: none;
	}

	.wrap-opportunities h2{
		margin-top: 30px;
	    margin-bottom: 10px;
	}

	.wrap-opportunities .single_opportunity{
		height: auto;
	}

	.wrap-opportunities .single_opportunity .title{
		font-size: 20px;
	}

	.wrap-opportunities .single_opportunity p{
		font-size: 14px;
	}

	.prices_bitrix24 .single-edition{
		height: auto;
		padding-bottom: 30px;
		margin-bottom: 25px;
	}

	.prices_bitrix24 .single-edition .edition-content{
		/*height: auto;*/
	}

	.prices_bitrix24 .single-edition.big-content.big_height_xs{
		height: 480px;
	}

	.prices_bitrix24 .single-edition.big-content.big_height_xs .edition-content{
		height: 400px;
	}
}


@media (min-width: 768px) and (max-width: 991px){
	.wrap-task.task-full-managment .wrap-task-img{
		margin-top: 40px;
	}

	.wrap-task.task-full-managment .wrap-task-img img{
		max-width: 100%;
	    /*margin-left: -12px;*/
	}

	.types_bitrix_wrap .single_type_bitrix {
	    height: 215px;
	    padding: 30px 40px;
	}

	.types_bitrix_wrap .single_type_bitrix span.title{
		font-size: 20px;
	}

	.types_bitrix_wrap .single_type_bitrix p{
		font-size: 14px;
	}

	.prices_bitrix24 {
	    padding-top: 40px;
	}

	.task-management-projects{
		padding-top: 60px;
		background-position: 50% 60px;
		padding-bottom: 50px;
	}

	.wrap-opportunities h2{
	    margin-top: 0;
	}

	.wrap-opportunities .single_opportunity{
		padding: 30px;
		margin-bottom: 20px;
	}

	.wrap-opportunities .single_opportunity p {
	    font-size: 14px;
	}

	.prices_bitrix24 .compare_editions{
		margin-top: 30px; 
	}

	.prices_bitrix24 .single-edition.big-content.big_height_xs{
		height: 590px;
	}

	.prices_bitrix24 .single-edition.big-content.big_height_xs .edition-content{
		height: 490px;
	}
}

@media (min-width: 992px) and (max-width: 1199px){
	.wrap-task.task-full-managment .wrap-task-img img {
	    max-width: 100%;
	    /*margin-left: -15px;*/
	}

	.product_intro.bitrix_24_intro .wrap_for_btn .pink-color{
		margin-left: 10px; 
	}

	.wrap-task.task-full-managment .wrap-task-img {
	    margin-top: -20px;
	}

	.launching .single_type_work{
		padding: 30px;
	}

	.launching .single_type_work .title{
		font-size: 18px;
	}

	.wrap-opportunities .single_opportunity{
		margin-bottom: 20px;
	}

	.prices_bitrix24 .single-edition .edition-content{
		padding: 20px;
	}

	.prices_bitrix24 .single-edition.single-edition__srm .edition-content{
		padding: 20px 8px;
	}

	.prices_bitrix24 .single-edition .edition-content .item{
		font-size: 14px;
	}

	.prices_bitrix24 {
	    padding-top: 40px;
	}

	.wrap-opportunities h2 {
	    margin-top: 0;
	}

	.prices_bitrix24 .single-edition.big-content .edition-content table.list-items {
	    font-size: 13px;
	}

	.prices_bitrix24 .single-edition.big-content.big_height_xs{
		height: 480px;
	}

	.prices_bitrix24 .single-edition.big-content.big_height_xs .edition-content{
		height: 400px;
	}

}


@media (min-width: 1200px) and (max-width: 1456px){ 
	.wrap-task.task-full-managment .wrap-task-img img {
		width: 100%;
	    /*margin-left: -19px;*/
	}
}

@media (min-width: 768px){
	.wrap_bitrix_bg{
		background-image: url(../img/products/bg-image.svg);
		background-repeat: no-repeat;
	    background-position: 90% 95%;
	}

	.wrap-opportunities{
		background-image: url(../img/products/bg-image_2.svg);
		background-repeat: no-repeat;
	    background-position: 10% 5%;		
	}

}
