.popup {
    position: relative;
    top: auto;
    left: auto;
    margin: auto;
}
.text.error:before {top:-19px;}
.text.error:after { top: 3px;}
.text.error:before {
    content: attr(data-content)
}
.popup.onecol.j-form-popup.hidden{display: none;}