div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

.article-contents {

}
.article-contents__title {
	margin-bottom: 16px;
	font-size: 20px;
	font-weight: 600;
}
.article-contents__nav {

}
.article-contents__nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.article-contents__nav ol {
	margin: 0;
	padding: 0 0 0 20px;
}
.article-contents__nav ul li,
.article-contents__nav ol li {
	margin-top: 6px;
	margin-bottom: 6px;
	padding-left: 0;
}
.article-contents__nav ul li a,
.article-contents__nav ol li a {
	font-size: 16px;
	color: #337ab7;
	text-decoration: underline;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.article-contents__nav ul li a:hover,
.article-contents__nav ul li a:focus,
.article-contents__nav ol li a:hover,
.article-contents__nav ol li a:focus {
	color: #262328;
	text-decoration: none;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.article-contents__nav ul li ul,
.article-contents__nav ol li ol,
.article-contents__nav ul li ol,
.article-contents__nav ol li ul {
	margin-left: 25px;
}

.article-author {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.article-author__img {
	width: 80px;
	height: 80px;
	/*margin: 0 auto 15px auto;*/
	margin-bottom: 15px;
	border: 1px solid #f3f3f3;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.article-author__name {
	margin-bottom: 5px;
	font-size: 15px;
	color: #212429;
	font-weight: 600;
}
.article-author__position {
	font-size: 12px;
	color: #888a8f;
}

@media (max-width: 991px) {
	.article-author {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.article-author>div:nth-child(1){
		margin-right: 20px;
	}
	.article-contents {
		margin-bottom: 40px;
	}
}
@media (max-width: 767px) {
	.article_body .article-contents__nav ul,
	.article_body .article-contents__nav ol {
		padding-left: 0;
	}
}

.blog-sidebar-swap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
}
.blog-sidebar-swap__categories {
}
.blog-sidebar-swap__form {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 40px 0;
}

@media (max-width: 767px) {
	.blog-sidebar-swap{
		height: auto;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
}