div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

.single-event > a,
.single-event > a:focus,
.single-event > a:hover,
.single-event > a:active {
	color: #ffffff;
}

.single-event > a:hover .title {
	text-decoration: underline;
}
.owl-dots {text-align: center;}
button.owl-dot {
	height: 10px;
	width: 10px;
	background-color: #ccc !important;
	margin: 10px 3px;
	box-shadow: 0 0px 3px 0 #406bdb;
}
button.owl-dot.active {
	background-color: #406bdb !important;
}