.works__logo--default {
    max-height: 50px;
    max-width: 162px;
}

.tasks__logo--default {
    max-height: 35px;
    max-width: 100px;
}

.container {
    width: auto;
}

.merit__img-box img {
    max-height: 30px;
}

.dropdown-services-list, .dropdown-products-list {
    top: 61px;
}

.dropdown-products-list {
    left: 144px;
}

.dropdown-services-list {
    left: 314px;
}

@media (min-width: 1024px) {
    .certificates__item {
        min-width: 140px;
    }
}

.request .request__input:last-child {
    margin-bottom: 22px;
}

.request div.text:last-child .request__input {
    margin-bottom: 0;
}

.works__item a.works__button:focus,
.works__item a.works__button:hover {
    color: #ffffff;
}

.works__item a.works__link:focus,
.works__item a.works__link:hover {
    color: #ffffff;
}

.works__link:hover {
    text-decoration: underline !important;
}

.promo .button:focus,
.promo .button:hover {
    color: #ffffff;
}

.promo__breadcrumbs .breadcrumbs__link:focus,
.promo__breadcrumbs .breadcrumbs__link:hover {
    color: #929294;
}

.tasks__card p.tasks__description {
    margin-block-start: 1em;
}

p.crm-training__text {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

blockquote.statement__quote {
    border: none;
}

.button--price:hover,
.button--price:focus {
    color: #d159a6;
}

.button--sup-cost:hover,
.button--sup-cost:focus {
    color: #ffffff;
}

/*services--separate fix*/
.section-request{
    padding-top: 90px;
    padding-bottom: 0;
}
.services,
.works{
    padding-top: 90px;
    padding-bottom: 110px;
}
@media (max-width: 1023px) {
    .services,
    .works{
        padding-top: 90px;
        padding-bottom: 110px;
    }
}
@media (max-width: 959px) {
    .services,
    .works{
        padding-top: 90px;
        padding-bottom: 110px;
    }
}
@media (max-width: 639px) {
    .services,
    .works{
        padding-top: 90px;
        padding-bottom: 110px;
    }
}
.section-overlap-top {
    padding-bottom: 290px;
}
.section-overlap-bottom {
    margin-top: -290px;
}

.request {
    position: static;
    bottom: auto;
    left: auto;
    max-width: none;
    padding: 82px 125px 73px 103px;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 0 34px 74px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 34px 74px 0 rgba(0, 0, 0, 0.04);
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
@media (max-width: 1439px){
    .request {
        width: auto;
        padding-right: 60px;
        padding-left: 70px;
    }
}
@media (max-width: 1023px){
    .request {
        bottom: auto;
        width: auto;
        padding: 72px 87px 69px 88px;
    }
}
@media (max-width: 959px){
    .request {
        bottom: auto;
        width: auto;
        padding: 32px 22px 43px 19px;
    }
}
@media (max-width: 639px){
    .request {
        bottom: auto;
        width: auto;
        padding: 32px 16px 46px 22px;
    }
    .container {
        padding: 0 15px;
    }
}
