.news_info{
	height:240px !important;
}
.news_description{
	height:240px !important;
}
.news_description .event_preview{
	max-height:80px !important;
}
.news_description .event_more{
	margin-top:15px !important;
}

.news_list_item:hover{
	border: 5px solid #30348e;
	margin-bottom:16px !important;
}
.news_list_item:hover .news_info{
	padding-top: 64px !important;
  	padding-left: 26px !important;
  	padding-right: 30px !important;
	
}

.news_list_item:hover .news_description{
	padding-right: 168px;
  	padding-top: 58px;
}