.contacts_trigger {
    margin-bottom: 20px;
}
#modal_contact_change_city .region_name {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
#modal_contact_change_city .contacts-city-choice a {
    display: block;
    margin: 10px 0;
    color: #337ab7;
}
