.launching .effective_launching_wrap .col-md-4:nth-child(1) .single_type_work {
	background-image: url(/local/templates/main2017/assets/img/icons/launching/ico_picking.svg);
}

.launching .effective_launching_wrap .col-md-4:nth-child(2) .single_type_work {
	background-image: url(/local/templates/main2017/assets/img/icons/launching/ico_introduction.svg);
}

.launching .effective_launching_wrap .col-md-4:nth-child(3) .single_type_work {
	background-image: url(/local/templates/main2017/assets/img/icons/launching/ico_accompanying.svg);
}

.launching .effective_launching_wrap .col-md-4:nth-child(4) .single_type_work {
	background-image: url(/local/templates/main2017/assets/img/icons/launching/ico_education.svg);
}

.launching .effective_launching_wrap .col-md-4:nth-child(5) .single_type_work {
	background-image: url(/local/templates/main2017/assets/img/icons/launching/ico_setup_report.svg);
}

.launching .effective_launching_wrap .col-md-4:nth-child(6) .single_type_work {
	background-image: url(/local/templates/main2017/assets/img/icons/launching/ico_integration.svg);
}

.launching .effective_launching_wrap .col-md-4:nth-child(7) .single_type_work {
	background-image: url(/local/templates/main2017/assets/img/icons/launching/ico_picking.svg);
}

section.wrap-task{
	padding-top: 50px;
	padding-bottom: 50px;
}

section.task-socnet{
	min-height: 420px;
  padding-top: 50px;
  padding-bottom: 0;
  height: auto;
}

section.task-full-managment{
	padding-bottom: 0;
}

section.task-full-managment .task-desc{
	position: relative;
  top: -140px;
}

section.wrap-task.task-full-managment .wrap-task-img {
  margin-top: 30px;
}

div.product-features-wrap{
	margin-top: 0;
}

@media (max-width: 1200px){
	section.task-full-managment .task-desc {
	  top: 0;
	  margin-top: 20px;
	  margin-bottom: 40px;
	}
}

@media (max-width: 768px){
	section.task-socnet{
		padding-bottom: 50px;
	}
}
