.text.error {position: relative;}
.text.error:before {top:-50px; width: auto; left: 0;}
.text.error:after {background-image: none; content:""; display:block; position:absolute; left:10px; top:-10px; width:0px; height:0px; border-left: 9px solid transparent; border-top: 12px solid #f02e2b;	border-right: 9px solid transparent;  z-index: 10;}
.text.error:before {
    content: attr(data-content)
}
.form-twocol .button{text-align: center;}
.form-twocol .button .btn{ margin: 15px auto 30px;padding: 15px 30px;width: 220px;}
.form-twocol .button .btn:active { padding: 15px 30px; }

@media (max-width: 767px) {
    .form-twocol .text{box-sizing: border-box; padding-right: 0;}
    .form-twocol .text input{box-sizing: border-box;}
    .form-twocol .float-left, .form-twocol .float-right{display: block; width: inherit;}
    .form-twocol .button{padding: 0 20px;}
    .form-twocol .button .btn{width: 100%; margin: 50px 0px 50px 0px; padding: 20px 0px;}
}
