.section{
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 15px;
    line-height: 1.86;
    color: #414141;
}

.section__header {
    width: 100%;
    margin-top: 0;
    margin-bottom: 60px;
    font-weight: 600;
    font-size: 38px;
    line-height: 1.2;
    color: #203260;
}

.step-info__caption,
.step-info__description {
    display: block;
    line-height: 1.2;

}

.step-info__caption {
    font-size: 20px;
}

.step-info__description {
    font-size: 15px;
    color: #B0B0B0;
}

.working-steps,
.advantages__items,
.content-list {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
    list-style: none;

}



.tabs-nav {
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: space-between;
}

.tabs-nav__item:not(:last-child) {
    margin-right: 6px;
}

.tab-item {
    flex: 1 1 auto;
    border-radius: 10px;
    text-align: center;
    border: 2px solid rgba(64, 107, 219, 0.1);
    color: rgba(64, 107, 219, 0.5);
    background-color: rgba(255, 255, 255, 0);
    transition: color .2s ease-in-out,
                background-color .2s ease-in-out;
}


.tabs-nav__link {
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none !important;
    display: inline-block;
    font-size: 14px;
    line-height: 1.4;
    color: inherit;



}

.working-steps {
    counter-reset: list 0;
}

.working-step__text p{
    margin-bottom: 35px;
}

.working-step__header {
    margin-bottom: 17px;
}

.working-steps__item {
    flex: 0 1 calc(50% - 30px);
}

.working-steps__item:not(:nth-child(2n)) {
    margin-right: 30px;
}

.step-info::before {
    display: block;
    counter-increment: list;
    content: counter(list);
    margin-right: 20px;
    float: left;
    font-weight: 800;
    font-size: 64px;
    line-height: .7;
    color: #D8E6FF;

}

.buttons--centered {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.advantage {
    padding: 30px 94px 40px 30px;
    border: 1px solid #CBD7F7;
    box-sizing: border-box;
    filter: drop-shadow(0px 10px 20px rgba(80, 80, 80, 0.3));
    border-radius: 20px 11px 20px 20px;
}

.advantages__item {
    flex: 1 1 calc(50% - 60px);
    max-width: 540px;
    margin-bottom: 55px;

}

.advantages__item:not(:nth-child(2n)) {
    margin-right: 60px;
}

.advantage__header {
    margin-top: 0;
    margin-bottom: 17px;
    font-size: 24px;
    line-height: 1.4;
    color: #333333;
}

.advantage__text {
    font-size: 16px;
    line-height: 1.4;
}

.advantage__text p {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

.content-list {
    padding: 78px 65px 20px;
    border: 1px solid rgba(64, 107, 219, 0.2);
    border-radius: 10px;
}

.getting-tabs__nav {
    margin-bottom: 35px;
}

.content-item {
    min-height: 60px;
    flex: 1 1 calc(50% - 30px);
    padding-left: 65px;
    margin-bottom: 50px;
    max-width: 480px;
    background-size: 50px 50px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.content-item__text,
.content-item__caption {
    color: #000;
    font-size: 14px;
    line-height: 1.4;
}

.content-item__caption {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 600;
}

.content-list__item:not(:nth-child(2n)) {
    margin-right: 30px;
}

.video {
    background-color: #000;
    margin-bottom: 15px;
    position: relative;
    padding-top: 50%;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
}

.video img {
    width: 100%;
    top: -20%;
    left: 0;
    opacity: 0.7;
}

.video__play {
    width: 60px;
    height: 40px;
    background-color: rgba(56, 54, 54, 0.88);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    z-index: 1;
    border-radius: 20%;
}

.video__play::before {
    content: "";
    border-style: solid;
    border-width: 10px 0 10px 13.0px;
    border-color: rgba(12, 12, 12, 0) rgba(12, 12, 12, 0) rgba(12, 12, 12, 0) #fff;
}

.video img,
.video__play {
    cursor: pointer;
}

.video img,
.video iframe,
.video__play,
.video__play::before {
    position: absolute;
}

.video__play,
.video__play::before {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.video iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.adding-modules.adding-modules--crm {
    margin-bottom: 200px;
}

.section__header--dark {
    color: #fff;
}

.o-description,
.o-list{
    padding: 0;
    list-style: none;
}

.main-opportunities__description,
.main-opportunities__list {
    margin: 0;
}

.o-description {
    font-size: 14px;
    line-height: 1.4;
}

.o-description__item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.o-description__item--reverse {
    flex-direction:row-reverse;
}

.o-description__image {
    display: inline-block;
    max-width: 600px;
    vertical-align: middle;
    flex-basis: 48%;
}

.o-description__text {
    padding: 30px 0;
    max-width: 480px;
}

.o-description__item:not(:last-child) {
    margin-bottom: 70px;
}

.o-description__header {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
}

.main-opportunities__list {
    margin-bottom: 50px;
}

.o-item {
    padding: 30px;
    flex: 0 0 350px;
    border: 1px solid #CBD7F7;
    box-sizing: border-box;
    filter: drop-shadow(0px 10px 20px rgba(80, 80, 80, 0.3));
    border-radius: 20px 11px 20px 20px;
    text-align: center;

    transition: background-color .2s ease-in-out;
}

.o-item svg {
    display: inline-block;
    margin-bottom: 10px;
}

.o-item__brief svg {
    margin-bottom: 0;
    fill: #352C85;
    transition: fill .2s ease-in-out;
}

.o-list__item {
    margin-bottom: 30px;
}

.o-list__item:not(:nth-child(3n)) {
    margin-right: 44px;
}

.o-item__brief,
.o-item__caption {
    display: block;
    line-height: 1;
    color: #352C85;
}

.o-item__caption {
    font-size: 20px;
    margin-bottom: 10px;
}

.o-item__brief {
    font-size: 16px;
    vertical-align: middle;
}

.o-list {
    display: flex;
    flex-flow: wrap row;
}

.o-popup {
    padding: 0 30px 30px 30px;
    max-width: 1060px;
    margin: 0;
    font-size: 16px;
    line-height: 1.25;
    color: #414141;
}

.o-popup__header {
    margin: 0 auto 40px;
    max-width: 748px;
    font-size: 24px;
    line-height: 1.3;
    text-align: center;
    color: #352C85;

}

.o-popup__image {
    margin-top: 20px;
    max-width: 1012px;
}

.o-popup p {
    margin-bottom: 30px;
}

.o-popup h4 {
    font-size: 16px;
    line-height: 1.25;
    color: #414141;
    font-weight: 800;
}

.img-examples__item {
    max-width: 460px;
}

.img-examples__item:first-child {
    margin-right: 40px;
}

.img-examples__item:not(:last-child) {
    margin-bottom: 40px;
}

.o-popup__examples {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.o-popup ul {
    margin-bottom: 30px;
}

.main-opportunity__link {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
}

.o-item:hover {
    color: #fff;
    background-color: #406bdb;
}

.o-item:hover span {
    color: #fff;
}

.o-item:hover span svg{
    fill: #fff;
}

.o-popup__content {
    display: flex;
    justify-content: center;
}

.welcome .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.welcome__image,
.welcome__info {
    flex: 1 1 40%;
}

.welcome__info {
    margin-right: 20px;
}

.welcome .container .title {
    display: block;
    width: 100%;
}

.welcome__description {
    display: block;
    margin-bottom: 40px;
    font-size: 23px;
    line-height: 1.4;
}

.welcome__info p {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.6;
}

.welcome__buttons {
    margin-top: 60px;
}

.w-button__item:not(:last-child) {
    margin-right: 25px;
}

@media all and (max-width: 1400px) {
    .demonstrate.section,
    .advantages.section {
        padding-bottom: 0;
    }
}

@media all and (max-width: 1199px) {
    .o-list__item:not(:nth-child(3n)) {
        margin-right: 0;
    }

    .o-item {
        flex-basis: 48%;
    }

    .o-list {
        justify-content: space-between;
    }

}

@media all and (max-width: 1175px) {
    .o-description__image {
        max-width: 400px;
    }
}

@media all and (max-width: 991px) {
    .o-popup__image {
        max-width: 100%;
    }

    .advantage {
        padding: 30px;
    }

    .advantage__header {
        font-size: 18px;
    }

    .advantage__text {
        font-size: 14px;
    }

    .advantages__item {
        flex: 1 1 48%;
        max-width: 48%;
        margin-bottom: 25px;
    }

    .advantages__item:not(:nth-child(2n)) {
        margin-right: 0;
    }

    .advantages__items {
        justify-content: space-between;
    }

    .tabs-nav__link {
        font-size: 12px;
    }

    .o-description__item {
        flex-direction: column-reverse;
    }

    .o-description__image {
        max-width: 100%;
        width: 100%;
    }

    .o-description__text {
        padding: 0;
        margin-bottom: 20px;
        max-width: 100%;
    }

    .o-description__item:not(:last-child) {
        margin-bottom: 40px;
    }

    .main-opportunities__list {
        margin-bottom: 20px;
    }

    .o-popup__image {
        width: 100%;
    }


}

@media all and (max-width: 767px) {
    .adding-modules {
        display: none;
    }

    .section__header {
        margin-bottom: 40px;
        font-size: 31px;
    }

    .content-list {
        padding: 20px;
    }

    .working-steps__item:not(:nth-child(2n)) {
        margin-right: 0;
    }

    .working-steps__item {
        flex: 1 1 100%;
    }

    .working-step__text p {
        margin-bottom: 15px;
    }

    .working-step {
        margin-bottom: 20px;
    }
}

@media all and (max-width: 669px) {
    .welcome__image, .welcome__info {
        flex: 1 1 100%;
    }

    .welcome__image,
    .w-buttons,
    .w-button__item {
        max-width: 100%;
        width: 100%;
    }

    .w-button__item:not(:last-child) {
        display: block;
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    .content-item {
        flex: 1 1 100%;
        margin-bottom: 50px;
        max-width: 100%;
    }

    .content-list__item:not(:nth-child(2n)) {
        margin-right: 0;
    }

    .content-list__item:last-child {
        margin-bottom: 0;
    }

    .popup.onecol.j-form-popup {
        padding: 50px 60px 45px;
    }


}

@media all and (max-width: 550px) {
    .o-item {
        flex-basis: 100%;
    }

    .advantages__item {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .o-list__item:last-child {
        margin-bottom: 0;
    }

    .section__header {
        margin-bottom: 40px;
        font-size: 31px;
    }

    .tabs-nav {
       flex-direction: column;
    }

    .tabs-nav__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 4px;
    }

    .content-item {
        margin-bottom: 20px;
    }

    .step-info__caption {
        font-size: 16px;
    }

    .step-info__description {
        font-size: 14px;
    }

    .img-examples__item {
        max-width: 100%;
        width: 100%;
    }

    .img-examples__item:not(:last-child) {
        margin-right: 0;
    }


}


.tab-item.active {
    color: #406BDB;
    background-color: rgba(64, 107, 219, 0.2);

}

@media all and (min-width: 991px) {
    .tab-item:hover,
    .tab-item:active {
        color: #406BDB;
        background-color: rgba(64, 107, 219, 0.2);

    }
}

.fancybox-opened {
    top: 50% !important;
    transform: translateY(-50%);
}


@media all and (max-width: 400px) {
    .w-button__item {
        font-size: 11px;
    }

    .popup.onecol.j-form-popup {
        padding: 50px 40px 45px;
    }
}


.o-popup__image--shadow {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.form_inline h2 {
    text-transform: initial !important;
}

.form__description {
    display: block;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 20px;
}